<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

    <vendor>Kaisen Linux</vendor>
    <vendor_url>https://kaisenlinux.org</vendor_url>

    <action id="org.kaisen.pkexec.etherape">
        <description>Run Etherape as root</description>
        <message>Authentication is required to run Etherape as root</message>
	<icon_name>etherape</icon_name>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/etherape</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>

    <action id="org.kaisen.pkexec.nmapsi4">
        <description>Run NmapSI4 as root</description>
        <message>Authentication is required to run NmapSI4 as root</message>
	<icon_name>nmapsi4</icon_name>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/nmapsi4</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>

    <action id="org.kaisen.pkexec.packetsender">
        <description>Run PacketSender as root</description>
        <message>Authentication is required to run PacketSender as root</message>
	<icon_name>packetsender</icon_name>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/packetsender</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>

    <action id="org.kaisen.pkexec.wireshark">
	<description>Run Wireshark as root</description>
	<message>Authentication is required to run Wireshark as root</message>
	<icon_name>wireshark</icon_name>
	<defaults>
	    <allow_any>auth_admin</allow_any>
	    <allow_inactive>auth_admin</allow_inactive>
	    <allow_active>auth_admin</allow_active>
	</defaults>
	<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/wireshark</annotate>
	<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>

    <action id="org.kaisen.pkexec.baobab">
        <description>Run Baobab as root</description>
        <message>Authentication is required to run Baobab as root</message>
	<icon_name>baobab</icon_name>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/baobab</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>

    <action id="org.kaisen.pkexec.lshw">
        <description>Run lshw-gtk as root</description>
        <message>Authentication is required to run lshw-gtk as root</message>
	<icon_name>lshw-gtk</icon_name>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/lshw-gtk</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>

    <action id="org.kaisen.pkexec.gtkterm">
        <description>Run GTKTerm as root</description>
        <message>Authentication is required to run GTKTerm as root</message>
        <icon_name>gtkterm</icon_name>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/gtkterm</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>

    <action id="org.kaisen.pkexec.driftnet">
        <description>Run Driftnet as root</description>
        <message>Authentication is required to run Driftnet as root</message>
        <icon_name>utilities-terminal</icon_name>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/driftnet</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>

    <action id="org.kaisen.pkexec.qt-fsarchiver">
        <description>Run qt-fsarchiver as root</description>
        <message>Authentication is required to run qt-fsarchiver as root</message>
        <icon_name>qt-fsarchiver</icon_name>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/qt-fsarchiver</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>

</policyconfig>
