Source: kaisen-menu
Section: kaisen-packages
Priority: optional
Maintainer: Kaisen Linux Team <team@kaisenlinux.org>
Uploaders: Kevin Chevreuil - Kaisen <kaisen@kaisenlinux.org>, Arnaud Cormier - Magiknono <magiknono@kaisenlinux.org> 
Build-Depends: debhelper
Standards-Version: 4.6.0
Homepage: https://kaisenlinux.org
Vcs-Browser: https://gitlab.com/kaisenlinux/packages/kaisen-menu
Vcs-Git: https://gitlab.com/kaisenlinux/packages/kaisen-menu.git

Package: kaisen-menu
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, xdg-utils, terminator, zsh, sudo, man, libdpkg-perl, libfile-fcntllock-perl
Breaks: dradis (<< 3.1.0~rc2)
Description: Kaisen Linux menu package (launchers, auto update launchers...)
