#!/usr/bin/env xdg-open

[Desktop Entry]
Name=lockdown
Comment=Enable blocking of kernel additions
Comment[fr]=Activer le blocage d'ajouts de modules kernel
Comment[es]=Habilitar el bloqueo de adiciones de kernel
Comment[pt]=Habilitar bloqueio de adições ao kernel
Comment[it]=Abilita il blocco delle aggiunte del kernel
Comment[de]=Aktivieren Sie das Blockieren von Kernel-Ergänzungen
Exec=kaisen-launcher --command "lockdown" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Miscellaneous
X-Kaisen-Package=lockdown
