#!/usr/bin/xdg-open

[Desktop Entry]
Name=lxc-unshare
Comment=Run a task in a new set of namespaces
Comment[fr]=Exécuter une tâche dans un nouvel ensemble d'espaces de noms
Comment[es]=Ejecutar una tarea en un nuevo conjunto de espacios de nombres
Comment[pt]=Execute uma tarefa em um novo conjunto de namespaces
Comment[it]=Esegui un'attività in un nuovo set di spazi dei nomi
Comment[de]=Führen Sie eine Aufgabe in einem neuen Satz von Namespaces aus
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "lxc-unshare --help"
Icon=/usr/share/pixmaps/kaisen-menu/lxc.png
Terminal=false
Type=Application
StartupNotify=true
Categories=LXC
X-Kaisen-Package=lxc
