#!/usr/bin/env xdg-open

[Desktop Entry]
Name=docker
Comment=Tool to make containerization
Comment[fr]=Outil pour faire de la conteneurisation
Comment[es]=Herramienta para contenedorización
Comment[pt]=Ferramenta para conteinerização
Comment[it]=Strumento per la containerizzazione
Comment[de]=Werkzeug zur Containerisierung
Exec=kaisen-launcher --command "docker --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Docker
X-Kaisen-Package=docker
