#!/usr/bin/env xdg-open

[Desktop Entry]
Name=wipe
Comment=Tool to securely erase file
Comment[fr]=Outil pour effacer complètement un fichier
Comment[es]=Herramienta para eliminar completamente un archivo
Comment[pt]=Ferramenta para excluir completamente um arquivo
Comment[it]=Strumento per eliminare completamente un file
Comment[de]=Tool zum vollständigen Löschen einer Datei
Exec=kaisen-launcher --command "wipe -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Partitioning
X-Kaisen-Package=wipe
