#!/usr/bin/xdg-open

[Desktop Entry]
Name=gfs2_jadd
Comment=Add journals to a GFS2 filesystem
Comment[fr]=Ajouter des journaux à un système de fichiers GFS2
Comment[es]=Agregar revistas a un sistema de archivos GFS2
Comment[pt]=Adicionar diários a um sistema de arquivos GFS2
Comment[it]=Aggiungi i journal a un filesystem GFS2
Comment[de]=Hinzufügen von Journal zu einem GFS2-Dateisystem
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "gfs2_jadd -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=GFS2
X-Kaisen-Package=gfs2-utils
