#!/usr/bin/env xdg-open

[Desktop Entry]
Name=apt-btrfs-snapshot
Comment=Tool to take snapshot system when APT is used
Comment[fr]=Outil pour prendre un snapshot quand APT est utilisé
Comment[es]=Herramienta para tomar una instantánea cuando se usa APT
Comment[pt]=Ferramenta para tirar um instantâneo quando o APT é usado
Comment[it]=Strumento per scattare un'istantanea quando viene utilizzato APT
Comment[de]=Tool zum Erstellen eines Schnappschusses bei Verwendung von APT
Exec=kaisen-launcher --command "apt-btrfs-snapshot -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=BTRFS;SystemSnapshot
X-Kaisen-Package=apt-btrfs-snapshot
