#!/usr/bin/env xdg-open

[Desktop Entry]
Name=bettercap-disable
Name[fr]=bettercap-désactivé
Name[es]=bettercap-deshabilitado
Name[pt]=bettercap-desativado
Name[it]=bettercap-disabilitato
Name[de]=bettercap-deaktiviert
Comment=Disable bettercap daemon
Comment[fr]=Désactiver service bettercap
Comment[es]=Deshabilitar servicio bettercap
Comment[pt]=Desativar serviço bettercap
Comment[it]=Disabilita servizio bettercap
Comment[de]=Deaktivieren Sie den Bettercap-Dienst
Exec=kaisen-launcher --command "/opt/services/bettercap-disable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SBettercap
X-Kaisen-Package=bettercap
