#!/usr/bin/xdg-open

[Desktop Entry]
Name=wimunmount
Comment=Mount or unmount a WIM image
Comment[fr]=Monter ou démonter une image WIM
Comment[es]=Montar o desmontar una imagen WIM
Comment[pt]=Montar ou desmontar uma imagem WIM
Comment[it]=Montare o smontare un'immagine WIM
Comment[de]=Einhängen oder Aushängen eines WIM-Images
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "man wimunmount"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=WIM
X-Kaisen-Package=wimtools
