#!/usr/bin/xdg-open

[Desktop Entry]
Name=docker
Comment=Tool to make containerization
Comment[fr]=Outil pour faire de la conteneurisation
Comment[es]=Herramienta para contenedorización
Comment[pt]=Ferramenta para conteinerização
Comment[it]=Strumento per la containerizzazione
Comment[de]=Werkzeug zur Containerisierung
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "docker --help"
Icon=/usr/share/pixmaps/kaisen/docker.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Docker
X-Kaisen-Package=docker
