#!/usr/bin/env xdg-open

[Desktop Entry]
Name=zfs-fuse
Comment=Tool to manage ZFS
Comment[fr]=Outil pour gérer ZFS
Comment[es]=Herramienta para gestionar ZFS
Comment[pt]=Ferramenta para gerenciar o ZFS
Comment[it]=Strumento per gestire ZFS
Comment[de]=Tool zum Verwalten von ZFS
Exec=kaisen-launcher --command "zfs-fuse -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=ZFS
X-Kaisen-Package=zfs-fuse
