#!/usr/bin/env xdg-open

[Desktop Entry]
Name=rpcbind-disable
Name[fr]=rpcbind-désactivé
Name[es]=rpcbind-deshabilitado
Name[pt]=rpcbind-desativado
Name[it]=rpcbind-disabilitato
Name[de]=rpcbind-deaktiviert
Comment=Disable rpcbind daemon
Comment[fr]=Désactiver service rpcbind
Comment[es]=Deshabilitar servicio rpcbind
Comment[pt]=Desativar serviço rpcbind
Comment[it]=Disabilita servizio rpcbind
Comment[de]=Deaktivieren Sie den Rpcbind-Dienst
Exec=kaisen-launcher --command "/opt/services/rpcbind-disable"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SRPCbind
X-Kaisen-Package=kaisen-services-management
