[Desktop Entry]
Version=1.0
Type=Application
Name=Remmina Connect
Comment=Remote access to desktops with Remmina
Comment[fr]=Accès à des bureaux distants avec Remmina
Comment[es]=Acceso a oficinas remotas con Remmina
Comment[pt]=Acesso a escritórios remotos com Remmina
Comment[it]=Accesso agli uffici remoti con Remmina
Comment[de]=Zugang zu Remote-Büros mit Remmina
Categories=GTK;GNOME;X-GNOME-NetworkSettings;RemoteAdministration;
Keywords=remote desktop;rdp;vnc;nx;ssh;spice;xdmcp;
TryExec=/usr/bin/remmina
Exec=remmina-file-wrapper -c %U
Icon=org.remmina.Remmina
MimeType=application/x-remmina;x-scheme-handler/remmina;x-scheme-handler/rdp;x-scheme-handler/spice;x-scheme-handler/vnc;
Actions=Edit;
Terminal=false
StartupNotify=true
NoDisplay=true
X-Desktop-File-Install-Version=0.24
X-Kaisen-Package=remmina

[Desktop Action Edit]
Name=Remmina Edit
Exec=/usr/bin/remmina -e %U
