#!/usr/bin/xdg-open

[Desktop Entry]
Name=Fred
Comment=Forensic REgistry Editor
Exec=fred
Icon=fred
Terminal=false
Type=Application
StartupNotify=true
Categories=Miscellaneous
X-Kaisen-Package=fred
