#!/usr/bin/xdg-open

[Desktop Entry]
Name=k6
Comment=A modern load testing tool, using Go and JavaScript
Comment[fr]=Un outil moderne de load balancing en Go et Javascript
Comment[es]=Una moderna herramienta de pruebas de carga, que utiliza Go y JavaScript
Comment[pt]=Uma ferramenta moderna de teste de carga, utilizando Go e JavaScript
Comment[it]=Un moderno strumento di test di carico, utilizzando Go e JavaScript
Comment[de]=Ein modernes Tool für Lasttests, das Go und JavaScript verwendet
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "k6 --help"
Icon=/usr/share/pixmaps/kaisen/k6.png
Terminal=false
Type=Application
StartupNotify=true
Categories=DevOps
X-Kaisen-Package=k6
