#!/usr/bin/xdg-open

[Desktop Entry]
Name=pst2dii
Comment=Extract email messages from an MS Outlook .pst file in DII load format
Comment[fr]=Extraire les messages électroniques d'un fichier .pst MS Outlook au format de chargement DII
Comment[es]=Extraiga mensajes de correo electrónico de un archivo .pst de MS Outlook en formato de carga DII
Comment[pt]=Extraia mensagens de e-mail de um arquivo .pst do MS Outlook no formato de carregamento DII
Comment[it]=Estrai i messaggi di posta elettronica da un file .pst di MS Outlook in formato di caricamento DII
Comment[de]=Extrahiert E-Mail-Nachrichten aus einer MS Outlook-PST-Datei im DII-Ladeformat
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "pst2dii -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=PST
X-Kaisen-Package=pst-utils
