#!/usr/bin/env xdg-open

[Desktop Entry]
Name=vmware-guest-disable
Name[fr]=vmware-guest-désactivé
Name[es]=vmware-guest-deshabilitado
Name[pt]=vmware-guest-desativado
Name[it]=vmware-guest-disabilitato
Name[de]=vmware-guest-deaktiviert
Comment=Disable vmware guest service
Comment[fr]=Désactiver le service invité de vmware
Comment[es]=Deshabilitar el servicio de invitados vmware
Comment[pt]=Desativar o serviço de convidado do vmware
Comment[it]=Disabilita il servizio guest vmware
Comment[de]=Deaktivieren Sie den VMware-Gastservice
Exec=kaisen-launcher --command "/opt/services/vmware-disable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SVirtualization
X-Kaisen-Package=open-vm-tools open-vm-tools-desktop
