#!/usr/bin/xdg-open

[Desktop Entry]
Name=o2image
Comment=Copy or restore OCFS2 file system meta-data
Comment[fr]=Copie ou restauration des méta-données du système de fichiers OCFS2
Comment[es]=Copiar o restaurar los metadatos del sistema de archivos OCFS2
Comment[pt]=Copiar ou restaurar meta-dados do sistema de ficheiros OCFS2
Comment[it]=Copiare o ripristinare i metadati del file system OCFS2
Comment[de]=Kopieren oder Wiederherstellen von OCFS2-Dateisystem-Metadaten
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "man o2image"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=OCFS2
X-Kaisen-Package=ocfs2-tools
