#!/usr/bin/xdg-open

[Desktop Entry]
Name=ab
Comment=Tool to benchmarking Apache2 servers
Comment[fr]=Outil de benchmark pour les serveurs Apache2
Comment[es]=Herramienta de referencia para servidores Apache2
Comment[pt]=Ferramenta de referência para servidores Apache2
Comment[it]=Strumento di benchmark per server Apache2
Comment[de]=Benchmark-Tool für Apache2-Server
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "ab"
Icon=/usr/share/pixmaps/kaisen-menu/apache.png
Terminal=false
Type=Application
StartupNotify=true
Categories=SystemUncategorized
X-Kaisen-Package=apache2-utils
