#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dmidecode
Comment=Tool to obtain all hardware info
Comment[fr]=Outil pour obtenir toutes les informations hardwares
Comment[es]=Herramienta para obtener toda la información del hardware
Comment[pt]=Ferramenta para obter todas as informações de hardware
Comment[it]=Strumento per ottenere tutte le informazioni sull'hardware
Comment[de]=Tool zum Abrufen aller Hardwareinformationen
Exec=kaisen-launcher --command "dmidecode" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Hardware
X-Kaisen-Package=dmidecode
