#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Anydesk
Comment=Tool for remote maintenance
Comment[fr]=Outil de télémaintenance
Comment[es]=Herramienta de mantenimiento remoto
Comment[pt]=Ferramenta de manutenção remota
Comment[it]=Strumento di manutenzione remota
Comment[de]=Fernwartungstool
Exec=anydesk
Icon=anydesk
Terminal=false
Type=Application
StartupNotify=true
Categories=RemoteMaintenance
X-Kaisen-Package=anydesk
