#!/usr/bin/env xdg-open

[Desktop Entry]
Name=cups-enable
Name[fr]=cups-activé
Name[es]=cups-activado
Name[pt]=cups-ativado
Name[it]=cups-attivato
Name[de]=cups-aktiviert
Comment=Enable cups daemons
Comment[fr]=Activer services cups
Comment[es]=Activar servicios cups
Comment[pt]=Ativar serviços cups
Comment[it]=Attiva servizios cups
Comment[de]=Diensts aktivieren cups
Exec=kaisen-launcher --command "/opt/services/cups-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SCups
X-Kaisen-Package=cups-daemon cups-browsed
