#!/usr/bin/env xdg-open

[Desktop Entry]
Name=cryptsetup-nuke-password
Comment=Tool to destroy the encryption keys required to unlock the encrypted partitions
Comment[fr]=Outil pour détruire les clés de chiffrement pour déverouiller les volumes chiffrés
Comment[es]=Herramienta para destruir claves de cifrado para desbloquear volúmenes cifrados
Comment[pt]=Ferramenta para destruir chaves de criptografia para desbloquear volumes criptografados
Comment[it]=Strumento per distruggere le chiavi di crittografia per sbloccare i volumi crittografati
Comment[de]=Tool zum Zerstören von Verschlüsselungsschlüsseln zum Entsperren verschlüsselter Volumes
Exec=kaisen-launcher --command "dpkg-reconfigure cryptsetup-nuke-password" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Miscellaneous;SystemSecurity
X-Kaisen-Package=cryptsetup-nuke-password
