#!/usr/bin/xdg-open

[Desktop Entry]
Name=lxc-unfreeze
Comment=Thaw all the container's processes
Comment[fr]=Décongeler tous les processus du conteneur
Comment[es]=Descongelar todos los procesos del contenedor
Comment[pt]=Descongele todos os processos do contêiner
Comment[it]=Scongela tutti i processi del contenitore
Comment[de]=Tauen Sie alle Prozesse des Containers auf
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "lxc-unfreeze -h"
Icon=/usr/share/pixmaps/kaisen-menu/lxc.png
Terminal=false
Type=Application
StartupNotify=true
Categories=LXC
X-Kaisen-Package=lxc
