#!/usr/bin/env xdg-open

[Desktop Entry]
Name=btrfs-map-logical
Comment=Map BTRFS logical extent to physical extent
Comment[fr]=Mapper l'étendue logique BTRFS à l'étendue physique
Comment[es]=Asignar extensión lógica BTRFS a extensión física
Comment[pt]=Mapeie a extensão lógica do BTRFS até a extensão física
Comment[it]=Mappare l'estensione logica BTRFS all'estensione fisica
Comment[de]=Ordnen Sie die logische Ausdehnung von BTRFS der physischen Ausdehnung zu
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "btrfs-map-logical --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=BTRFS
X-Kaisen-Package=btrfs-progs
