#!/usr/bin/xdg-open

[Desktop Entry]
Name=lxc-destroy
Comment=Destroy a LXC container
Comment[fr]=Détruire un conteneur LXC
Comment[es]=Destruye un contenedor LXC
Comment[pt]=Destrua um contêiner LXC
Comment[it]=Distruggi un container LXC
Comment[de]=Zerstören Sie einen LXC-Container
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "lxc-destroy -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=LXC
X-Kaisen-Package=lxc
