#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dislocker
Name[fr]=dislocker
Comment=Tool to bitlocker disks
Comment[fr]=Outil pour les disques bitlocker
Exec=terminator -e "zsh -c 'dislocker;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Bitlocker
X-Kaisen-Package=dislocker
