#!/usr/bin/env xdg-open

[Desktop Entry]
Name=pwgen
Comment=Tool to generate passwords
Comment[fr]=Outil pour générer des mots de passe
Comment[es]=Herramienta para generar contraseñas
Comment[pt]=Ferramenta para gerar senhas
Comment[it]=Strumento per generare password
Comment[de]=Tool zum Generieren von Passwörtern
Exec=kaisen-launcher --command "pwgen -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords
X-Kaisen-Package=pwgen
