#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Packet Sender
Comment=Network utility for sending and receiving TCP, UDP, SSL packets
Comment[fr]=Utilitaire réseau pour l'envoi et la réception de paquets TCP, UDP, SSL
Comment[es]=Utilidad de red para enviar y recibir paquetes TCP, UDP, SSL
Comment[pt]=Utilitário de rede para enviar e receber pacotes TCP, UDP, SSL
Comment[it]=Utilità di rete per inviare e ricevere pacchetti TCP, UDP, SSL
Comment[de]=Netzwerkdienstprogramm zum Senden und Empfangen von TCP-, UDP- und SSL-Paketen
Exec=sh -c "gksudo packetsender"
Icon=/usr/share/pixmaps/kaisen/packetsender.png
Terminal=false
Type=Application
StartupNotify=true
Categories=UDP
X-Kaisen-Package=packetsender
