#!/usr/bin/env xdg-open

[Desktop Entry]
Name=unzip
Comment=Tool to decompress zip file
Comment[fr]=Outil pour décompresser les fichiers zip
Comment[es]=Herramienta para descomprimir archivos zip
Comment[pt]=Ferramenta para descomprimir arquivos zip
Comment[it]=Strumento per decomprimere i file zip
Comment[de]=Tool zum Dekomprimieren von Zip-Dateien
Exec=kaisen-launcher --command "unzip"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=ZIP
X-Kaisen-Package=unzip
