#!/usr/bin/xdg-open

[Desktop Entry]
Name=snapper-boot-enable
Name[fr]=snapper-boot-activé
Name[es]=snapper-boot-habilitado
Name[pt]=snapper-boot-ativado
Name[it]=snapper-boot-abilitato
Name[de]=snapper-boot-aktivieren
Comment=Enable snapper-boot daemon
Comment[fr]=Activer service snapper-boot
Comment[es]=Activar servicio snapper-boot
Comment[pt]=Ativar serviço snapper-boot
Comment[it]=Attiva servizio snapper-boot
Comment[de]=Aktiviert den snapper-boot-Dienst
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "/usr/share/kaisen-services-management/snapper-boot-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SFilesystems
X-Kaisen-Package=snapper
