#!/usr/bin/xdg-open

[Desktop Entry]
Name=ecryptfs-wrap-passphrase
Comment=A utility to wrap an ecryptfs mount passphrase
Comment[fr]=Un utilitaire pour envelopper une phrase de passe de montage ecryptfs
Comment[es]=Una utilidad para envolver una frase de contraseña de montaje de ecryptfs
Comment[pt]=Um utilitário para embrulhar uma frase-senha de montagem ecryptfs
Comment[it]=Un'utilità per racchiudere una passphrase di montaggio ecryptfs
Comment[de]=Ein Dienstprogramm zum Umschließen einer ecryptfs-Mount-Passphrase
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "ecryptfs-wrap-passphrase"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=ECRYPTFS
X-Kaisen-Package=ecryptfs-utils
