#!/usr/bin/xdg-open

[Desktop Entry]
Name=lxcfs-enable
Name[fr]=lxcfs-activé
Name[es]=lxcfs-habilitado
Name[pt]=lxcfs-ativado
Name[it]=lxcfs-abilitato
Name[de]=lxcfs-aktiviert
Comment=Enable lxcfs daemon
Comment[fr]=Activer service lxcfs
Comment[es]=Activar servicio lxcfs
Comment[pt]=Ativar serviço lxcfs
Comment[it]=Attiva servizio lxcfs
Comment[de]=Aktivieren Sie den Dienst lxcfs
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "/usr/share/kaisen-services-management/lxcfs-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SFilesystems
X-Kaisen-Package=lxcfs
