#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dstat
Comment=Tool to analyse system resources
Comment[fr]=Outil pour analyser les ressources systèmes
Comment[es]=Herramienta para analizar recursos del sistema
Comment[pt]=Ferramenta para analisar recursos do sistema
Comment[it]=Strumento per analizzare le risorse di sistema
Comment[de]=Tool zur Analyse von Systemressourcen
Exec=kaisen-launcher --command "dstat"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Analysis
X-Kaisen-Package=dstat
