#!/usr/bin/env xdg-open

[Desktop Entry]
Name=rpcbind-enable
Name[fr]=rpcbind-activé
Name[es]=rpcbind-activado
Name[pt]=rpcbind-ativado
Name[it]=rpcbind-abilitato
Name[de]=rpcbind-aktiviert
Comment=Enable rpcbind daemon
Comment[fr]=Activer service rpcbind
Comment[es]=Activar servicio rpcbind
Comment[pt]=Ativar serviço rpcbind
Comment[it]=Attiva servizio rpcbind
Comment[de]=Ativar serviço rpcbind
Exec=terminator -e "zsh -c '/opt/services/rpcbind-enable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SRPCbind
X-Kaisen-Package=kaisen-services-management
