#!/usr/bin/xdg-open

[Desktop Entry]
Name=fsck.gfs2
Comment=Tool to check the integrity of a GFS2 partition
Comment[fr]=Outil pour vérifier l'intégrité d'une partition GFS2
Comment[es]=Herramienta para comprobar la integridad de una partición GFS2
Comment[pt]=Ferramenta para verificar a integridade de uma partição GFS2
Comment[it]=Strumento per verificare l'integrità di una partizione GFS2
Comment[de]=Dienstprogramm zur Überprüfung der Integrität einer GFS2-Partition
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "fsck.gfs2 -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=FSCK
X-Kaisen-Package=gfs2-utils
