#!/usr/bin/xdg-open

[Desktop Entry]
Name=ecryptfsd
Comment=Userspace ecryptfs daemon
Comment[fr]=Service ecryptfs en espace utilisateur
Comment[es]=Servicio ecryptfs en el espacio de usuario
Comment[pt]=Serviço Ecryptfs no espaço do usuário
Comment[it]=Servizio Ecryptfs nello spazio utente
Comment[de]=Ecryptfs-Dienst im Benutzerbereich
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "ecryptfsd -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=ECRYPTFS
X-Kaisen-Package=ecryptfs-utils
