#!/usr/bin/env xdg-open

[Desktop Entry]
Name=hddtemp-enable
Name[fr]=hddtemp-activé
Name[es]=hddtemp-activado
Name[pt]=hddtemp-ativado
Name[it]=hddtemp-attivato
Name[de]=hddtemp-aktiviert
Comment=Enable hddtemp daemon
Comment[fr]=Activer service hddtemp
Comment[es]=Activa servicio hddtemp
Comment[pt]=Ativar serviço hddtemp
Comment[it]=Attiva servizio hddtemp
Comment[de]=Aktivieren Sie den hddtemp-Service
Exec=kaisen-launcher --command "/opt/services/hddtemp-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SHDDtemp
X-Kaisen-Package=hddtemp
