#!/usr/bin/env xdg-open

[Desktop Entry]
Name=flashrom
Comment=Tool to manipulate BIOS firmware
Comment[fr]=Outil pour manipuler le BIOS
Comment[es]=Herramienta de manipulación del BIOS
Comment[pt]=Ferramenta de manipulação do BIOS
Comment[it]=Strumento di manipolazione del BIOS
Comment[de]=BIOS-Manipulationstool
Exec=kaisen-launcher --command "flashrom --help" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Hardware
X-Kaisen-Package=flashrom
