#!/usr/bin/xdg-open

[Desktop Entry]
Name=darkstat
Comment=Packet sniffer
Comment[fr]=Sniffeur de paquets
Comment[es]=Analizador de paquetes
Comment[pt]=Farejador de pacotes
Comment[it]=Packet sniffer
Comment[de]=Paketschnüffler
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "darkstat --help" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=PCAP
X-Kaisen-Package=darkstat
