#!/usr/bin/env xdg-open

[Desktop Entry]
Name=cups-disable
Name[fr]=cups-désactivé
Name[es]=cups-discapacitado
Name[pt]=cups-desativado
Name[it]=cups-disabilitato
Name[de]=cups-behindert
Comment=Disable cups daemons
Comment[fr]=Désactiver services cups
Comment[es]=Desactivar servicios cups
Comment[pt]=Desativar serviços cups
Comment[it]=Disattivare servizios cups
Comment[de]=Services deaktivieren cups
Exec=kaisen-launcher --command "/opt/services/cups-disable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SCups
X-Kaisen-Package=cups-daemon cups-browsed
