#!/usr/bin/xdg-open

[Desktop Entry]
Name=snapper-cleanup-disable
Name[fr]=snapper-cleanup-désactivé
Name[es]=snapper-cleanup-deshabilitado
Name[pt]=snapper-cleanup-desativado
Name[it]=snapper-cleanup-disabilitato
Name[de]=snapper-cleanup-deaktivieren
Comment=Disable snapper-cleanup daemon
Comment[fr]=Désactiver service snapper-cleanup
Comment[es]=Deshabilitar servicio snapper-cleanup
Comment[pt]=Desativar serviço snapper-cleanup
Comment[it]=Disabilita servizio snapper-cleanup
Comment[de]=Deaktiviert den snapper-cleanup-Dienst
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "/usr/share/kaisen-services-management/snapper-cleanup-disable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SFilesystems
X-Kaisen-Package=snapper
