#!/usr/bin/env xdg-open

[Desktop Entry]
Name=cabextract
Comment=Tool to extract .cab files
Comment[fr]=Outil pour extraire les fichiers .cab
Comment[es]=Herramienta para extraer archivos .cab
Comment[pt]=Ferramenta para extrair arquivos .cab
Comment[it]=Strumento per estrarre i file .cab
Comment[de]=Tool zum Extrahieren von CAB-Dateien
Exec=kaisen-launcher --command "cabextract --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Microsoft
X-Kaisen-Package=cabextract
