#!/usr/bin/xdg-open

[Desktop Entry]
Name=dislocker-file
Comment=Read/write BitLocker encrypted volumes
Comment[fr]=Lecture/écriture des volumes chiffrés BitLocker
Comment[es]=Volúmenes cifrados de BitLocker de lectura/escritura
Comment[pt]=Ler/gravar volumes criptografados do BitLocker
Comment[it]=Lettura/scrittura di volumi crittografati con BitLocker
Comment[de]=Liest/Schreibt von BitLocker-verschlüsselten Volumes
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "dislocker-file -h"
Icon=/usr/share/pixmaps/kaisen-menu/bitlocker.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Bitlocker
X-Kaisen-Package=dislocker
