#!/usr/bin/xdg-open

[Desktop Entry]
Name=puppet-enable
Name[fr]=puppet-activé
Name[es]=puppet-habilitado
Name[pt]=puppet-ativado
Name[it]=puppet-abilitato
Name[de]=puppet-aktiviert
Comment=Enable puppet daemon
Comment[fr]=Activer service puppet
Comment[es]=Activar servicio puppet
Comment[pt]=Ativar serviço puppet
Comment[it]=Attiva servizio puppet
Comment[de]=Aktivieren Sie den Puppet-Dienst
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "/usr/share/kaisen-services-management/puppet-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SPuppet
X-Kaisen-Package=puppet-agent
