#!/usr/bin/env xdg-open

[Desktop Entry]
Name=kaisen-update-skel
Comment=Tool to update Kaisen Linux default profile
Comment[fr]=Outil pour mettre à jour le profil par défaut de Kaisen Linux
Comment[es]=Herramienta para actualizar el perfil predeterminado de Kaisen Linux
Comment[pt]=Ferramenta para atualizar o perfil padrão do Kaisen Linux
Comment[it]=Strumento per aggiornare il profilo predefinito di Kaisen Linux
Comment[de]=Tool zum Aktualisieren des Standardprofils von Kaisen Linux
Exec=kaisen-launcher --command "kaisen-update-skel" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Miscellaneous
X-Kaisen-Package=kaisen-skeleton
