#!/usr/bin/xdg-open

[Desktop Entry]
Name=bdemount
Comment=Tool to mount bitlocker disk
Comment[fr]=Outil pour monter des disques bitlocker
Comment[es]=Herramienta para montar discos bitlocker
Comment[pt]=Ferramenta para montagem de discos bitlocker
Comment[it]=Strumento di montaggio del disco Bitlocker
Comment[de]=Mountet eine BitLocker-Festplatte
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "bdemount -h"
Icon=/usr/share/pixmaps/kaisen-menu/bitlocker.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Bitlocker
X-Kaisen-Package=libbde-utils
