#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ophcrack-cli
Comment=Tool to recover a lost Windows password in CLI mode
Comment[fr]=Outil pour récupérer des mots de passe Windows en mode CLI
Comment[es]=Herramienta para recuperar contraseñas de Windows en modo CLI
Comment[pt]=Ferramenta para recuperar senhas do Windows no modo CLI
Comment[it]=Strumento per recuperare le password di Windows in modalità CLI
Comment[de]=Tool zum Wiederherstellen von Windows-Kennwörtern im CLI-Modus
Exec=kaisen-launcher --command "ophcrack-cli -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords
X-Kaisen-Package=ophcrack-cli
