#!/usr/bin/env xdg-open

[Desktop Entry]
Name=btrfs-orphan-cleaner-progress
Comment=Tool to manage BTRFS
Comment[fr]=Outil pour gérer BTRFS
Comment[es]=Herramienta para gestionar BTRFS
Comment[pt]=Ferramenta para gerenciar BTRFS
Comment[it]=Strumento per gestire BTRFS
Comment[de]=Tool zum Verwalten von BTRFS
Exec=kaisen-launcher --command "btrfs-orphan-cleaner-progress"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=BTRFS
X-Kaisen-Package=btrfs-progs
