#!/usr/bin/env xdg-open

[Desktop Entry]
Name=clamav-freshclam-enable
Name[fr]=clamav-freshclam-activé
Name[es]=clamav-freshclam-activado
Name[pt]=clamav-freshclam-ativado
Name[it]=clamav-freshclam-attivato
Name[de]=clamav-freshclam-aktiviert
Comment=Enable avahi daemon
Comment[fr]=Activer clamav freshclam
Comment[es]=Activar clamav freshclam
Comment[pt]=Ativar clamav freshclam
Comment[it]=Attiva clamav freshclam
Comment[de]=Aktivieren Sie Clamav Freshclam
Exec=terminator -e "zsh -c '/opt/services/clamav-freshclam-enable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SClamAV
X-Kaisen-Package=kaisen-services-management
