#!/usr/bin/env xdg-open

[Desktop Entry]
Name=vagrant
Comment=Tool to configure and create virtual environments
Comment[fr]=Outil pour configurer et contrôler des environnements virtuels
Comment[es]=Herramienta para configurar y controlar entornos virtuales
Comment[pt]=Ferramenta para configurar e controlar ambientes virtuais
Comment[it]=Strumento per configurare e controllare ambienti virtuali
Comment[de]=Tool zum Konfigurieren und Steuern virtueller Umgebungen
Exec=kaisen-launcher --command "vagrant"
Icon=/usr/share/pixmaps/kaisen/vagrant.png
Terminal=false
Type=Application
StartupNotify=true
Categories=SysOps
X-Kaisen-Package=vagrant
