#!/usr/bin/env xdg-open

[Desktop Entry]
Name=JMeter
Comment=Tool to test web and applications performance
Comment[fr]=Outil pour tester les performances des sites et applications
Comment[es]=Herramienta para probar el rendimiento de sitios y aplicaciones
Comment[pt]=Ferramenta para testar o desempenho de sites e aplicativos
Comment[it]=Strumento per testare le prestazioni di siti e applicazioni
Comment[de]=Tool zum Testen der Leistung von Websites und Anwendungen
Exec=jmeter
Icon=jmeter
Terminal=false
Type=Application
StartupNotify=true
Categories=SysOps
X-Kaisen-Package=jmeter
