#!/usr/bin/env xdg-open

[Desktop Entry]
Name=clamav-enable
Name[fr]=clamav-activé
Name[es]=clamav-activado
Name[pt]=clamav-ativado
Name[it]=clamav-attivato
Name[de]=clamav-aktiviert
Comment=Enable clamav daemons
Comment[fr]=Activer services clamav
Comment[es]=Activar servicios clamav
Comment[pt]=Ativar serviços clamav
Comment[it]=Attiva servizios clamav
Comment[de]=Aktivieren Sie Clamav-Services
Exec=kaisen-launcher --command "/opt/services/clamav-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SClamAV
X-Kaisen-Package=clamav-daemon
