#!/usr/bin/env xdg-open

[Desktop Entry]
Name=irqbalance
Comment=Tool to split I/O in SMP systems
Comment[fr]=Outil pour répartitionner E/S les systèmes SMP
Comment[es]=Herramienta para distribuir E/S a sistemas SMP
Comment[pt]=Ferramenta para distribuir E/S para sistemas SMP
Comment[it]=Strumento per distribuire I/O ai sistemi SMP
Comment[de]=Tool zum Verteilen von E/A an SMP-Systeme
Exec=kaisen-launcher --command "irqbalance-ui" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Miscellaneous
X-Kaisen-Package=irqbalance
