#!/usr/bin/xdg-open

[Desktop Entry]
Name=Kaisen Terminal
Comment=Execute a shell with your own configuration
Comment[fr]=Executer un shell avec votre propre configuration
Comment[es]=Ejecutar un shell con su propia configuración
Comment[pt]=Executar uma concha com a sua própria configuração
Comment[it]=Eseguire una shell con la propria configurazione
Comment[de]=Führen Sie eine Shell mit Ihrer eigenen Konfiguration aus
Exec=x-terminal-emulator
Icon=utilities-terminal
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
StartupNotify=true
X-Kaisen-Package=dpkg
