#!/usr/bin/env xdg-open

[Desktop Entry]
Name=host
Comment=Tool to use DNS to lookup operations
Comment[fr]=Outil pour utiliser les DNS pour des résolutions
Comment[es]=Herramienta para usar DNS para resoluciones
Comment[pt]=Ferramenta para usar DNS para resoluções
Comment[it]=Strumento per utilizzare il DNS per le risoluzioni
Comment[de]=Tool zur Verwendung von DNS für Auflösungen
Exec=kaisen-launcher --command "host"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DNS
X-Kaisen-Package=dnsutils
