#!/usr/bin/xdg-open

[Desktop Entry]
Name=jq
Comment=Command-line JSON processor
Comment[fr]=Processeur JSON en ligne de commande
Comment[es]=Procesador JSON de línea de comandos
Comment[pt]=Processador de linha de comando JSON
Comment[it]=Elaboratore JSON a riga di comando
Comment[de]=JSON-Prozessor für die Befehlszeile
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "jq --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Miscellaneous
X-Kaisen-Package=jq
