#!/usr/bin/env xdg-open

[Desktop Entry]
Name=vhdimount
Name[fr]=vhdimount
Comment=Tool to mount vhdi disk 
Comment[fr]=Outil pour monter les disques vhdi de virtualbox
Exec=terminator -e "zsh -c 'vhdimount;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=VHDI
X-Kaisen-Package=libvhdi-utils
