#!/usr/bin/env xdg-open

[Desktop Entry]
Name=nfs-enable
Name[fr]=nfs-activé
Name[es]=nfs-habilitado
Name[pt]=nfs-ativado
Name[it]=nfs-abilitato
Name[de]=nfs-aktiviert
Comment=Enable nfs daemon
Comment[fr]=Activer service nfs
Comment[es]=Activar servicio nfs
Comment[pt]=Ativar serviço nfs
Comment[it]=Attiva servizio nfs
Comment[de]=Aktivieren Sie den NFS-Dienst
Exec=kaisen-launcher --command "/opt/services/nfs-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SNFS
X-Kaisen-Package=nfs-kernel-server
