#!/usr/bin/xdg-open

[Desktop Entry]
Name=xfs_logprint
Comment=Print the log of an XFS filesystem
Comment[fr]=Imprimer le journal d'un système de fichiers XFS
Comment[es]=Imprima el registro de un sistema de archivos XFS
Comment[pt]=Imprimir o log de um sistema de arquivos XFS
Comment[it]=Stampa il registro di un filesystem XFS
Comment[de]=Das Protokoll eines XFS-Dateisystems anzeigen
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "xfs_logprint" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=XFS
X-Kaisen-Package=xfsprogs
