#!/usr/bin/env xdg-open

[Desktop Entry]
Name=jfs_logdump
Comment=Tool to dump JFS logs
Comment[fr]=Outil pour dumper les logs JFS
Comment[es]=Herramienta para volcar registros JFS
Comment[pt]=Ferramenta para despejar logs JFS
Comment[it]=Strumento per scaricare i log JFS
Comment[de]=Tool zum Speichern von JFS-Protokollen
Exec=kaisen-launcher --command "jfs_logdump" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=JFS
X-Kaisen-Package=jfsutils
