#!/usr/bin/xdg-open

[Desktop Entry]
Name=vmfs-fuse
Comment=Tool to mount VMFS filesystem
Comment[fr]=Outil pour monter système de fichiers VMFS
Comment[es]=Herramienta para montar el sistema de archivos VMFS
Comment[pt]=Ferramenta para montar o sistema de arquivos VMFS
Comment[it]=Strumento per montare il file system VMFS
Comment[de]=Tool zum Mounten des VMFS-Dateisystems
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "vmfs-fuse -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=VMFS
X-Kaisen-Package=vmfs-tools
