#!/usr/bin/env xdg-open

[Desktop Entry]
Name=awscli
Comment=Universal command line interface for Amazon Web Services
Comment[fr]=Interface de ligne de commande universelle pour Amazon Web Services
Comment[es]=Interfaz de línea de comandos universal para Amazon Web Services
Comment[pt]=Interface de linha de comando universal para Amazon Web Services
Comment[it]=Interfaccia a riga di comando universale per Amazon Web Services
Comment[de]=Universelle Befehlszeilenschnittstelle für Amazon Web Services
Exec=kaisen-launcher --command "aws help"
Icon=/usr/share/pixmaps/kaisen/aws.png
Terminal=false
Type=Application
StartupNotify=true
Categories=SysOps
X-Kaisen-Package=awscli
