#!/usr/bin/xdg-open

[Desktop Entry]
Name=ntfsinfo
Comment=Dump a file's attributes
Comment[fr]=Vider les attributs d'un fichier
Comment[es]=Volcar los atributos de un archivo
Comment[pt]=Despejar os atributos de um arquivo
Comment[it]=Scarica gli attributi di un file
Comment[de]=Speichern Sie die Attribute einer Datei
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "ntfsinfo -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NTFS
X-Kaisen-Package=ntfs-3g
