#!/usr/bin/env xdg-open

[Desktop Entry]
Name=btrfsck
Comment=Tool to repair a BTRFS damaged partition
Comment[fr]=Outil pour réparer une partition BTRFS endommagée
Comment[es]=Herramienta para reparar la partición BTRFS dañada
Comment[pt]=Ferramenta para reparar partição BTRFS danificada
Comment[it]=Strumento per riparare partizioni BTRFS danneggiate
Comment[de]=Tool zur Reparatur beschädigter BTRFS-Partitionen
Exec=kaisen-launcher --command "btrfsck"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=BTRFS
X-Kaisen-Package=btrfs-progs
