#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dsniff
Comment=Network analysis tool (sniffer)
Comment[fr]=Outil d'analyse réseau (sniffer)
Comment[es]=Herramienta de análisis de red (sniffer)
Comment[pt]=Ferramenta de análise de rede (sniffer)
Comment[it]=Strumento di analisi della rete (sniffer)
Comment[de]=Netzwerkanalyse-Tool (Sniffer)
Exec=kaisen-launcher --command "dsniff -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Scanner
X-Kaisen-Package=dsniff
