#!/usr/bin/env xdg-open

[Desktop Entry]
Name=kaisen-update
Comment=Tool to easily update system
Comment[fr]=Outil pour mettre à jour le système facilement
Comment[es]=Herramienta para actualizar fácilmente el sistema
Comment[pt]=Ferramenta para atualizar facilmente o sistema
Comment[it]=Strumento per aggiornare facilmente il sistema
Comment[de]=Tool zum einfachen Aktualisieren des Systems
Exec=kaisen-launcher --command "kaisen-update" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Miscellaneous
X-Kaisen-Package=kaisen-miscellaneous
