#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ioping
Comment=Tool to analyse disk latency
Comment[fr]=Outil pour analyser les latences de disques
Comment[es]=Herramienta para analizar latencias de disco
Comment[pt]=Ferramenta para analisar latências de disco
Comment[it]=Strumento per analizzare le latenze del disco
Comment[de]=Tool zur Analyse von Festplattenlatenzen
Exec=kaisen-launcher --command "ioping"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DisksAnalysis
X-Kaisen-Package=ioping
