#!/usr/bin/env xdg-open

[Desktop Entry]
Name=mkfs.ocfs2
Comment=Tool to create ocfs2 partition
Comment[fr]=Outil pour créer une partition ocfs2
Comment[es]=Herramienta para crear una partición ocfs2
Comment[pt]=Ferramenta para criar uma partição ocfs2
Comment[it]=Strumento per creare una partizione ocfs2
Comment[de]=Tool zum Erstellen einer ocfs2-Partition
Exec=kaisen-launcher --command "mkfs.ocfs2" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=MKFS
X-Kaisen-Package=ocfs2-tools
