#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ntfswipe
Comment=Overwrite unused space on an NTFS volume
Comment[fr]=Écraser l'espace inutilisé sur un volume NTFS
Comment[es]=Sobrescribir el espacio no utilizado en un volumen NTFS
Comment[pt]=Sobrescrever o espaço não utilizado em um volume NTFS
Comment[it]=Sovrascrivi lo spazio inutilizzato su un volume NTFS
Comment[de]=Überschreiben Sie nicht verwendeten Speicherplatz auf einem NTFS-Volume
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "ntfswipe -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NTFS;Partitioning
X-Kaisen-Package=ntfs-3g
