#!/usr/bin/env xdg-open

[Desktop Entry]
Name=xfs_copy
Comment=Copy the contents of an XFS filesystem
Comment[fr]=Copier le contenu d'un système de fichiers XFS
Comment[es]=Copie el contenido de un sistema de archivos XFS
Comment[pt]=Copie o conteúdo de um sistema de arquivos XFS
Comment[it]=Copia il contenuto di un filesystem XFS
Comment[de]=Kopieren Sie den Inhalt eines XFS-Dateisystems
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "xfs_copy" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=XFS
X-Kaisen-Package=xfsprogs
