#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ocfs2-enable
Name[fr]=ocfs2-activé
Name[es]=ocfs2-habilitado
Name[pt]=ocfs2-ativado
Name[it]=ocfs2-abilitato
Name[de]=ocfs2-aktiviert
Comment=Enable ocfs2 daemon
Comment[fr]=Activer service ocfs2
Comment[es]=Activar servicio ocfs2
Comment[pt]=Ativar serviço ocfs2
Comment[it]=Attiva servizio ocfs2
Comment[de]=Aktivieren Sie den Dienst ocfs2
Exec=kaisen-launcher --command "/opt/services/ocfs2-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SFilesystems
X-Kaisen-Package=ocfs2-tools
