#!/usr/bin/xdg-open

[Desktop Entry]
Name=pffexport
Comment=Exports items stored in a Personal Folder File (OST, PAB and PST)
Comment[fr]=Exporte les éléments stockés dans un fichier de dossiers personnels (OST, PAB et PST)
Comment[es]=Exporta elementos almacenados en un archivo de carpeta personal (OST, PAB y PST)
Comment[pt]=Exporta itens armazenados em um arquivo de pasta pessoal (OST, PAB e PST)
Comment[it]=Esporta gli elementi archiviati in un file delle cartelle personali (OST, PAB e PST)
Comment[de]=Exportiert Elemente, die in einer persönlichen Ordnerdatei (OST, PAB und PST) gespeichert sind
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "pffexport -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=PST
X-Kaisen-Package=pff-tools
