#!/usr/bin/xdg-open

[Desktop Entry]
Name=fuse-zip
Comment=Tool to mount zip files in fuse
Comment[fr]=Outil pour monter des archives zip en mode FUSE
Comment[es]=Herramienta para montar archivos zip en modo FUSE
Comment[pt]=Ferramenta para montar arquivos zip no modo FUSE
Comment[it]=Strumento per montare archivi zip in modalità FUSE
Comment[de]=Tool zum Mounten von Zip-Archiven im FUSE-Modus
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "fuse-zip -h"
Icon=/usr/share/pixmaps/kaisen-menu/zip.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Filesystems
X-Kaisen-Package=fuse-zip
