#!/usr/bin/env xdg-open

[Desktop Entry]
Name=myrescue
Comment=Tool to recover data in damaged disk
Comment[fr]=Outil pour récupérer des données sur un disque endommagé
Comment[es]=Herramienta para recuperar datos del disco dañado
Comment[pt]=Ferramenta para recuperar dados do disco danificado
Comment[it]=Strumento per recuperare i dati dal disco danneggiato
Comment[de]=Tool zum Wiederherstellen von Daten von beschädigten Festplatten
Exec=kaisen-launcher --command "myrescue -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Recovery
X-Kaisen-Package=myrescue
