#!/usr/bin/env xdg-open

[Desktop Entry]
Name=fatresize
Comment=Tool for FAT16/FAT32 partitions
Comment[fr]=Outil pour les partitions FAT16/FAT32
Comment[es]=Herramienta para particiones FAT16/FAT32
Comment[pt]=Ferramenta para partições FAT16/FAT32
Comment[it]=Strumento per le partizioni FAT16/FAT32
Comment[de]=Tool für FAT16/FAT32-Partitionen
Exec=kaisen-launcher --command "fatresize -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Partitioning
X-Kaisen-Package=dosfstools
