#!/usr/bin/env xdg-open

[Desktop Entry]
Name=udfdump
Comment=UDF file system tool
Comment[fr]=Outil pour le système de fichiers UDF
Comment[es]=Herramienta de sistema de archivos UDF
Comment[pt]=Ferramenta de sistema de arquivos UDF
Comment[it]=Strumento di file system UDF
Comment[de]=UDF-Dateisystem-Tool
Exec=kaisen-launcher --command "udfdump"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=UDF
X-Kaisen-Package=udftools
