#!/usr/bin/env xdg-open

[Desktop Entry]
Name=shred
Comment=Tool to securely delete a file on HDD
Comment[fr]=Outil pour faire un effacement sécurisé sur un disque dur
Comment[es]=Herramienta para hacer un borrado seguro en un disco duro
Comment[pt]=Ferramenta para fazer uma exclusão segura em um disco rígido
Comment[it]=Strumento per effettuare una cancellazione sicura su un disco rigido
Comment[de]=Tool zum sicheren Löschen auf einer Festplatte
Exec=kaisen-launcher --command "shred --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Partitioning
X-Kaisen-Package=e2fsprogs
