#!/usr/bin/env xdg-open

[Desktop Entry]
Name=pstree
Comment=Tool to analyse processes
Comment[fr]=Outil pour analyser les processus
Comment[es]=Herramienta para analizar procesos
Comment[pt]=Ferramenta para analisar processos
Comment[it]=Strumento per analizzare i processi
Comment[de]=Werkzeug zur Analyse von Prozessen
Exec=kaisen-launcher --command "pstree"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Analysis
X-Kaisen-Package=psmisc
