#!/usr/bin/xdg-open

[Desktop Entry]
Name=tcpcapinfo
Comment=Pcap file dissector for debugging broken pcap files
Comment[fr]=Dissecteur de fichiers PCAP pour le débogage des fichiers pcap cassés
Comment[es]=Disector de archivos pcap para depurar archivos pcap rotos
Comment[pt]=Dissecador de arquivo Pcap para depuração de arquivos pcap quebrados
Comment[it]=Dissettore di file pcap per il debug di file pcap danneggiati
Comment[de]=Pcap-Datei-Dissektor zum Debuggen defekter PCAP-Dateien
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "tcpcapinfo --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=PCAP
X-Kaisen-Package=tcpreplay
