#!/usr/bin/xdg-open

[Desktop Entry]
Name=fvdeinfo
Comment=Tool for filevault disk info
Comment[fr]=Outil pour avoir des informations sur les disques filevault
Comment[es]=Herramienta para obtener información sobre discos de FileVault
Comment[pt]=Ferramenta para obter informações sobre discos de filevault
Comment[it]=Strumento per ottenere informazioni sui dischi filevault
Comment[de]=Tool zum Abrufen von Informationen zu FileVault-Datenträgern
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "fvdeinfo -h" --sudo
Icon=/usr/share/pixmaps/kaisen-menu/filevault.png
Terminal=false
Type=Application
StartupNotify=true
Categories=FileVault
X-Kaisen-Package=libfvde-utils
