#!/usr/bin/xdg-open

[Desktop Entry]
Name=iperf
Comment=Perform network throughput tests
Comment[fr]=Effectuer des tests de débit réseau
Comment[es]=Realizar pruebas de rendimiento de la red
Comment[pt]=Execute testes de taxa de transferência de rede
Comment[it]=Eseguire test di velocità effettiva di rete
Comment[de]=Führt Netzwerkgeschwindigkeitstests durch
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "iperf --help"
Icon=/usr/share/pixmaps/kaisen-menu/iperf.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Monitoring
X-Kaisen-Package=iperf
