#!/usr/bin/env xdg-open

[Desktop Entry]
Name=clonezilla
Comment=Tool to clone disk in device/image or device/device
Comment[fr]=Outil pour cloner un disque/image ou disque/disque
Comment[es]=Herramienta para clonar un disco/imagen o disco/disco
Comment[pt]=Ferramenta para clonar um disco/imagem ou disco/disco
Comment[it]=Strumento per clonare un disco/immagine o disco/disco
Comment[de]=Werkzeug zum Klonen einer Disc/eines Bildes oder einer Disc/Disc
Exec=kaisen-launcher --command "clonezilla" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Cloning
X-Kaisen-Package=clonezilla
