#!/usr/bin/env xdg-open

[Desktop Entry]
Name=glusterfs
Name[fr]=glusterfs
Comment=Tool to mount gluster partition
Comment[fr]=Outil pour monter une partition gluster
Exec=terminator -e "zsh -c 'sudo glusterfs;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=GlusterFS
X-Kaisen-Package=glusterfs-client
