#!/usr/bin/xdg-open

[Desktop Entry]
Name=exfatlabel
Comment=Get or Set volume label or volume serial of an EXFAT filesystem
Comment[fr]=Obtenir ou définir l'étiquette du volume ou le numéro de série du volume d'un système de fichiers EXFAT
Comment[es]=Obtener o establecer la etiqueta de volumen o la serie de volumen de un sistema de archivos EXFAT
Comment[pt]=Obter ou definir etiqueta de volume ou série de volume de um sistema de ficheiros EXFAT
Comment[it]=Ottenere o impostare l'etichetta del volume o il seriale del volume di un filesystem EXFAT
Comment[de]=Volume-Label oder Volume-Seriennummer eines EXFAT-Dateisystems abfragen oder setzen
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "exfatlabel" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=EXFAT;FSCK
X-Kaisen-Package=exfatprogs
