#!/usr/bin/env xdg-open

[Desktop Entry]
Name=gpg
Comment=Tool for messages and data protection
Comment[fr]=Outil pour protéger des messages ainsi que des données
Comment[es]=Herramienta para proteger mensajes y datos
Comment[pt]=Ferramenta para proteger mensagens e dados
Comment[it]=Strumento per proteggere messaggi e dati
Comment[de]=Tool zum Schutz von Nachrichten und Daten
Exec=kaisen-launcher --command "gpg -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Miscellaneous
X-Kaisen-Package=gpg
