#!/usr/bin/env xdg-open

[Desktop Entry]
Name=o2cb-disable
Name[fr]=o2cb-désactivé
Name[es]=oc2b-deshabilitado
Name[pt]=oc2b-desativado
Name[it]=oc2b-disabilitato
Name[de]=oc2b-deaktiviert
Comment=Disable o2cb daemon
Comment[fr]=Désactiver service o2cb
Comment[es]=Deshabilitar servicio o2cb
Comment[pt]=Desativar serviço o2cb
Comment[it]=Disabilita servizio o2cb
Comment[de]=Deaktivieren Sie den o2cb-Dienst
Exec=kaisen-launcher --command "/opt/services/o2cb-disable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SFilesystems
X-Kaisen-Package=ocfs2-tools
