#!/usr/bin/xdg-open

[Desktop Entry]
Name=BloodHound
Comment=Uses graph theory to reveal hidden and unintended relationships and attack paths in Active Directory
Comment[fr]=Utilise la théorie des graphes pour révéler des relations et chemins d’attaque cachés dans Active Directory
Comment[es]=Utiliza teoría de grafos para revelar relaciones y rutas de ataque ocultas en Active Directory
Comment[pt]=Utiliza teoria dos grafos para revelar relações e percursos de ataque ocultos no Active Directory
Comment[it]=Utilizza la teoria dei grafi per rivelare relazioni e percorsi di attacco nascosti in Active Directory
Comment[de]=Nutzt Graphentheorie, um verborgene Beziehungen und Angriffswege in Active Directory sichtbar zu machen
Exec=bloodhound
Icon=/usr/share/pixmaps/kaisen-menu/bloodhound.png
Type=Application
StartupNotify=false
Categories=Microsoft
X-Kaisen-Package=bloodhound
