#!/usr/bin/xdg-open

[Desktop Entry]
Name=aa-enabled
Comment=Test whether AppArmor is enabled
Comment[fr]=Tester si AppArmor est activé
Comment[es]=Comprobar si AppArmor está activado
Comment[pt]=Testar se o AppArmor está activado
Comment[it]=Verifica se AppArmor è abilitato
Comment[de]=Testen, ob AppArmor aktiviert ist
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "aa-enabled"
Icon=/usr/share/pixmaps/kaisen-menu/apparmor.png
Terminal=false
Type=Application
StartupNotify=true
Categories=AppArmor
X-Kaisen-Package=apparmor
