#!/usr/bin/env xdg-open

[Desktop Entry]
Name=snapperd-disable
Name[fr]=snapperd-désactivé
Name[es]=snapperd-deshabilitado
Name[pt]=snapperd-desativado
Name[it]=snapperd-disabilitato
Name[de]=snapperd-deaktiviert
Comment=Disable snapperd daemon
Comment[fr]=Désactiver service snapperd
Comment[es]=Deshabilitar servicio snapperd
Comment[pt]=Desativar serviço snapperd
Comment[it]=Disabilita servizio snapperd
Comment[de]=Deaktivieren Sie den snapperd-Dienst
Exec=kaisen-launcher --command "/opt/services/snapperd-disable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SFilesystems
X-Kaisen-Package=snapper
