#!/usr/bin/xdg-open

[Desktop Entry]
Name=ncat
Comment=Concatenate and redirect sockets
Comment[fr]=Concaténer et rediriger les sockets
Comment[es]=Concatenar y redirigir sockets
Comment[pt]=Concatenar e redirecionar soquetes
Comment[it]=Concatena e reindirizza i socket
Comment[de]=Sockets verketten und umleiten
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "ncat -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Scanner
X-Kaisen-Package=ncat
