#!/usr/bin/xdg-open

[Desktop Entry]
Name=sysstat-disable
Name[fr]=sysstat-désactivé
Name[es]=sysstat-deactivado
Name[pt]=sysstat-deativado
Name[it]=sysstat-deattivato
Name[de]=sysstat-deaktivieren
Comment=Disable sysstat daemon
Comment[fr]=Désactiver service sysstat
Comment[es]=Deshabilitar servicio sysstat
Comment[pt]=Desativar serviço sysstat
Comment[it]=Disabilita servizio sysstat
Comment[de]=Deaktiviert den Sysstat-Dienst
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "/usr/share/kaisen-services-management/sysstat-disable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SSysstat
X-Kaisen-Package=sysstat
