#!/usr/bin/xdg-open

[Desktop Entry]
Name=ocfs2_hb_ctl
Comment=Starts and stops the O2CB local heartbeat on a given device
Comment[fr]=Démarre et arrête le battement de cœur local O2CB sur un appareil donné
Comment[es]=Inicia y detiene el latido local de O2CB en un dispositivo determinado
Comment[pt]=Inicia e interrompe a pulsação local O2CB em um determinado dispositivo
Comment[it]=Avvia e arresta l'heartbeat locale O2CB su un determinato dispositivo
Comment[de]=Startet und stoppt den lokalen O2CB-Heartbeat auf einem bestimmten Gerät
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "ocfs2_hb_ctl -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=OCFS2
X-Kaisen-Package=ocfs2-tools
