#!/usr/bin/env xdg-open

[Desktop Entry]
Name=DWAgent
Comment=Open-source tool for remote maintenance
Comment[fr]=Outil de télémaintenance open-source
Comment[es]=Herramienta de mantenimiento remoto de código abierto
Comment[pt]=Ferramenta de manutenção remota de código aberto
Comment[it]=Strumento di manutenzione remota open source
Comment[de]=Open-Source-Fernwartungstool
Exec=dwagent
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=RemoteMaintenance
X-Kaisen-Package=kaisen-dwagent
