#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ophcrack-cli
Name[fr]=ophcrack-cli
Comment=Tool to recover a lost Windows password in CLI mode 
Comment[fr]=Outil pour récupérer des mots de passe Windows en mode CLI 
Exec=terminator -e "zsh -c 'ophcrack-cli -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords
X-Kaisen-Package=ophcrack-cli
