#!/usr/bin/xdg-open

[Desktop Entry]
Name=rdiff-backup
Comment=Local/remote mirror and incremental backup
Comment[fr]=Sauvegarde miroir et incrémentielle locale/à distance
Comment[es]=Copia de seguridad local/remota e incremental
Comment[pt]=Espelho local/remoto e backup incremental
Comment[it]=Mirror locale/remoto e backup incrementale
Comment[de]=Lokale/entfernte Spiegelung und inkrementelle Sicherung
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "man rdiff-backup"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Rdiff
X-Kaisen-Package=rdiff-backup
