#!/usr/bin/xdg-open

[Desktop Entry]
Name=mkfs.apfs
Comment=Tool to create an APFS partition
Comment[fr]=Outil pour créer une partition APFS
Comment[es]=Herramienta para crear una partición APFS
Comment[pt]=Ferramenta para criar uma partição APFS
Comment[it]=Strumento per creare una partizione APFS
Comment[de]=Dienstprogramm zum Erstellen einer APFS-Partition
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "mkfs.apfs" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=MKFS
X-Kaisen-Package=apfsprogs
