#!/usr/bin/xdg-open

[Desktop Entry]
Name=KeePassXC
Comment=Community-driven port of the Windows application “KeePass Password Safe”
Comment[fr]=Portage communautaire de l'application Windows «KeePass Password Safe»
Comment[es]=Versión comunitaria de la aplicación para Windows «KeePass Password Safe».
Comment[pt]=Porta comunitária da aplicação Windows “KeePass Password Safe”
Comment[it]=Porting dell'applicazione Windows “KeePass Password Safe” realizzato dalla comunità
Comment[de]=Community-basierte Portierung der Windows-Anwendung „KeePass Password Safe“
Exec=keepassxc %f
TryExec=keepassxc
Icon=keepassxc
StartupWMClass=keepassxc
Terminal=false
Type=Application
Version=1.0
Categories=Miscellaneous
MimeType=application/x-keepass2;
X-Kaisen-Package=keepassxc-full
