#!/usr/bin/env xdg-open

[Desktop Entry]
Name=fvdeinfo
Name[fr]=fvdeinfo
Comment=Tool for filevault disk info
Comment[fr]=Outil pour avoir des informations sur les disques filevault
Exec=terminator -e "zsh -c 'sudo fvdeinfo;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=FileVault
X-Kaisen-Package=libfvde-utils
