#!/usr/bin/xdg-open

[Desktop Entry]
Name=ansible-inventory
Comment=Used to display or dump the configured inventory as Ansible sees it
Comment[fr]=Utilisé pour afficher ou vider l'inventaire configuré comme Ansible le voit
Comment[es]=Se utiliza para mostrar o volcar el inventario configurado como lo ve Ansible
Comment[pt]=Usado para exibir ou descartar o inventário configurado como Ansible o vê
Comment[it]=Utilizzato per visualizzare o scaricare l'inventario configurato come lo vede Ansible
Comment[de]=Wird verwendet, um das konfigurierte Inventar so anzuzeigen oder zu sichern, wie Ansible es sieht
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "ansible-inventory -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Ansible
X-Kaisen-Package=ansible
