#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ecryptfs-find
Comment=Use inode numbers to match encrypted/decrypted filenames
Comment[fr]=Utilisez les numéros d'inode pour faire correspondre les noms de fichiers cryptés/décryptés
Comment[es]=Utilice números de inodo para hacer coincidir los nombres de archivo cifrados/descifrados
Comment[pt]=Use números de inode para corresponder a nomes de arquivos criptografados/descriptografados
Comment[it]=Usa i numeri di inode per abbinare i nomi di file crittografati/decrittografati
Comment[de]=Verwenden Sie Inode-Nummern, um verschlüsselte/entschlüsselte Dateinamen abzugleichen
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "ecryptfs-find"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=ECRYPTFS
X-Kaisen-Package=ecryptfs-utils
