#!/usr/bin/env xdg-open

[Desktop Entry]
Name=gfs2edit
Comment=Tool to manage GFS2
Comment[fr]=Outil pour gérer GFS2
Comment[es]=Herramienta para gestionar GFS2
Comment[pt]=Ferramenta para gerenciar o GFS2
Comment[it]=Strumento per gestire GFS2
Comment[de]=Tool zum Verwalten von GFS2
Exec=kaisen-launcher --command "gfs2_edit" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=GFS2
X-Kaisen-Package=gfs2-utils
