#!/usr/bin/env xdg-open

[Desktop Entry]
Name=hdparm
Comment=Tool to get info at hard drive
Comment[fr]=Outil pour obtenir des informations sur un disque dur
Comment[es]=Herramienta para obtener información en un disco duro
Comment[pt]=Ferramenta para obter informações em um disco rígido
Comment[it]=Strumento per ottenere informazioni su un disco rigido
Comment[de]=Tool zum Abrufen von Informationen auf einer Festplatte
Exec=kaisen-launcher --command "hdparm" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DisksAnalysis
X-Kaisen-Package=hdparm
