#!/usr/bin/env xdg-open

[Desktop Entry]
Name=tune.exfat
Comment=Tool for exfat partitions
Comment[fr]=Outil pour partitions exfat
Comment[es]=Herramienta para particiones exfat
Comment[pt]=Ferramenta para partições exfat
Comment[it]=Strumento per partizioni exfat
Comment[de]=Werkzeug für Exfat-Partitionen
Exec=kaisen-launcher --command "tune.exfat" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=EXFAT
X-Kaisen-Package=exfatprogs
