#!/usr/bin/env xdg-open

[Desktop Entry]
Name=sockstat
Comment=Tool to analyse active socket connections
Comment[fr]=Outil pour analyser les connexions sockets actives
Comment[es]=Herramienta para analizar conexiones de socket activas
Comment[pt]=Ferramenta para analisar conexões de soquete ativas
Comment[it]=Strumento per analizzare le connessioni socket attive
Comment[de]=Tool zur Analyse aktiver Socket-Verbindungen
Exec=kaisen-launcher --command "sockstat" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Monitoring
X-Kaisen-Package=sockstat
