#!/usr/bin/env xdg-open

[Desktop Entry]
Name=mtr
Comment=Traceroute with ncurses librairies
Comment[fr]=Traceroute avec des librairies ncurses
Comment[es]=Traceroute con librerías ncurses
Comment[pt]=Traceroute com livrarias ncurses
Comment[it]=Traceroute con librerie ncurses
Comment[de]=Traceroute mit ncurses Buchhandlungen
Exec=kaisen-launcher --command "mtr"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Scanner
X-Kaisen-Package=mtr-tiny
