#!/usr/bin/env xdg-open

[Desktop Entry]
Name=balenaEtcher
Comment=Tool to create Linux USB bootable keys
Comment[fr]=Outil pour créer des clés USB bootables Linux
Comment[es]=Herramienta para crear llaves USB de arranque de Linux
Comment[pt]=Ferramenta para criar chaves USB Linux inicializáveis
Comment[it]=Strumento per creare chiavi USB Linux avviabili
Comment[de]=Tool zum Erstellen bootfähiger Linux-USB-Sticks
Exec=sh -c "gksudo balena-etcher-electron"
Icon=balena-etcher-electron
Terminal=false
Type=Application
StartupNotify=true
Categories=USBBoot
X-Kaisen-Package=balena-etcher-electron
