#!/usr/bin/env xdg-open

[Desktop Entry]
Name=gluster-setgfid2path
Comment=Tool to manage gluster filesystem
Comment[fr]=Outil pour gérer le système de fichiers gluster
Comment[es]=Herramienta para gestionar el sistema de archivos Gluster
Comment[pt]=Ferramenta para gerenciar o sistema de arquivos gluster
Comment[it]=Strumento per gestire il file system gluster
Comment[de]=Tool zum Verwalten des Gluster-Dateisystems
Exec=kaisen-launcher --command "gluster-setgfid2path" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=GlusterFS
X-Kaisen-Package=glusterfs-client
