#!/usr/bin/env xdg-open

[Desktop Entry]
Name=tcptraceroute
Comment=Tool to implement TCP protocol in traceroute
Comment[fr]=Outil pour l'implementation du protocole TCP sur traceroute
Comment[es]=Herramienta para la implementación del protocolo TCP en traceroute
Comment[pt]=Ferramenta para implementação do protocolo TCP no traceroute
Comment[it]=Strumento per l'implementazione del protocollo TCP su traceroute
Comment[de]=Tool zur Implementierung des TCP-Protokolls auf Traceroute
Exec=kaisen-launcher --command "tcptraceroute"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=TCP
X-Kaisen-Package=tcptraceroute
