#!/usr/bin/xdg-open

[Desktop Entry]
Name=zfs-fuse
Comment=ZFS filesystem daemon
Comment[fr]=Service système de fichiers ZFS
Comment[es]=Servicio de sistema de archivos ZFS
Comment[pt]=Serviço de sistema de arquivos ZFS
Comment[it]=Servizio file system ZFS
Comment[de]=ZFS-Dateisystemdienst
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "zfs-fuse -h" --sudo
Icon=/usr/share/pixmaps/kaisen-menu/openzfs.png
Terminal=false
Type=Application
StartupNotify=true
Categories=ZFS
X-Kaisen-Package=zfs-fuse
