#!/usr/bin/env xdg-open

[Desktop Entry]
Name=btrfsmaintenance-refresh-disable
Name[fr]=btrfsmaintenance-refresh-désactivé
Name[es]=btrfsmaintenance-refresh-deshabilitado
Name[pt]=btrfsmaintenance-refresh-desativado
Name[it]=btrfsmaintenance-refresh-disabilitato
Name[de]=btrfsmaintenance-refresh-deaktiviert
Comment=Disable btrfsmaintenance-refresh daemon
Comment[fr]=Désactiver service btrfsmaintenance-refresh
Comment[es]=Deshabilitar servicio btrfsmaintenance-refresh
Comment[pt]=Desativar serviço btrfsmaintenance-refresh
Comment[it]=Disabilita servizio btrfsmaintenance-refresh
Comment[de]=Deaktivieren Sie den BTRFSmaintenance-refresh-Dienst
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "/opt/services/btrfsmaintenance-refresh-disable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SFilesystems
X-Kaisen-Package=btrfsmaintenance
