#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dd
Comment=Tool to clone ext4 partitions and create a bootable USB key
Comment[fr]=Outil pour le clonage de partitons ext4 et la création de clé USB bootable
Comment[es]=Herramienta para clonar particiones ext4 y crear una llave USB de arranque
Comment[pt]=Ferramenta para clonagem de partições ext4 e criação de chave USB inicializável
Comment[it]=Strumento per la clonazione di partiti ext4 e la creazione di una chiave USB avviabile
Comment[de]=Tool zum Klonen von Partitons ext4 und zum Erstellen eines bootfähigen USB-Sticks
Exec=kaisen-launcher --command "dd --help"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Cloning;USBBoot;Partitioning
X-Kaisen-Package=coreutils
