#!/usr/bin/env xdg-open

[Desktop Entry]
Name=irqbalance-enable
Name[fr]=irqbalance-activé
Name[es]=irqbalance-habilitado
Name[pt]=irqbalance-ativado
Name[it]=irqbalance-abilitato
Name[de]=irqbalance-aktiviert
Comment=Enable irqbalance daemon
Comment[fr]=Activer service irqbalance
Comment[es]=Activar servicio irqbalance
Comment[pt]=Ativar serviço irqbalance
Comment[it]=Attiva servizio irqbalance
Comment[de]=Aktivieren Sie den irqbalance
Exec=kaisen-launcher --command "/opt/services/irqbalance-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Sirqbalance
X-Kaisen-Package=irqbalance
