#!/usr/bin/env xdg-open

[Desktop Entry]
Name=srm
Comment=Tool to securely delete a file
Comment[fr]=Outil pour effacer de facon sécurisée un fichier
Comment[es]=Herramienta para eliminar de forma segura un archivo
Comment[pt]=Ferramenta para excluir com segurança um arquivo
Comment[it]=Strumento per eliminare in modo sicuro un file
Exec=kaisen-launcher --command "srm -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Partitioning
X-Kaisen-Package=secure-delete
