#!/usr/bin/env xdg-open

[Desktop Entry]
Name=di
Name[fr]=di
Comment=Tool to view free space
Comment[fr]=Outil pour connaitre l'espace libre
Exec=terminator -e "zsh -c 'di -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DisksAnalysis
X-Kaisen-Package=di
