#!/usr/bin/env xdg-open

[Desktop Entry]
Name=unrar
Comment=Tool to archive and decompress rar archives
Comment[fr]=Outil pour archiver et décompresser des archives rar
Comment[es]=Herramienta para archivar y descomprimir archivos rar
Comment[pt]=Ferramenta para arquivar e descomprimir arquivos rar
Comment[it]=Strumento per archiviare e decomprimere archivi rar
Comment[de]=Tool zum Archivieren und Dekomprimieren seltener Archive
Exec=kaisen-launcher --command "unrar --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=ZIP
X-Kaisen-Package=unrar
