#!/usr/bin/env xdg-open

[Desktop Entry]
Name=recoverdm
Comment=Tool to recover data in bad disk sectors
Comment[fr]=Outil pour récupérer des données sur des diques défectueux
Comment[es]=Herramienta para recuperar datos de unidades defectuosas
Comment[pt]=Ferramenta para recuperar dados de unidades com defeito
Comment[it]=Strumento per recuperare dati da unità guaste
Comment[de]=Tool zum Wiederherstellen von Daten von fehlerhaften Laufwerken
Exec=kaisen-launcher --command "recoverdm"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Recovery
X-Kaisen-Package=recoverdm
