#!/usr/bin/env xdg-open

[Desktop Entry]
Name=hashcat
Comment=Tool to crack a lost password
Comment[fr]=Outil pour retrouver un mot de passe perdu
Comment[es]=Herramienta para recuperar una contraseña perdida
Comment[pt]=Ferramenta para recuperar uma senha perdida
Comment[it]=Strumento per recuperare una password persa
Comment[de]=Tool zum Wiederherstellen eines verlorenen Passworts
Exec=kaisen-launcher --command "hashcat --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords
X-Kaisen-Package=hashcat
