#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dhcpdump
Comment=DHCP packet dumper
Comment[fr]=Dumper de paquets DHCP
Comment[es]=Dumper de paquetes DHCP
Comment[pt]=Dumper de pacote DHCP
Comment[it]=Dumper pacchetto DHCP
Comment[de]=DHCP-Paketkipper
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "dhcpdump -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DHCP
X-Kaisen-Package=dhcpdump
