#!/usr/bin/xdg-open

[Desktop Entry]
Name=aa-enforce
Comment=Set an AppArmor security profile to enforce mode from being disabled or complain mode
Comment[fr]=Définir un profil de sécurité AppArmor pour faire respecter le mode désactivé ou le mode plaignant
Comment[es]=Establecer un perfil de seguridad de AppArmor para hacer cumplir el modo de ser deshabilitado o el modo de queja
Comment[pt]=Definir um perfil de segurança AppArmor para fazer cumprir o modo de desactivação ou modo de reclamação
Comment[it]=Impostare un profilo di sicurezza AppArmor per imporre la modalità da disabilitare o la modalità di lamentarsi
Comment[de]=Legen Sie ein AppArmor-Sicherheitsprofil fest, um den Modus zu erzwingen, der deaktiviert ist oder sich beschwert
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "aa-enforce -h" --sudo
Icon=/usr/share/pixmaps/kaisen-menu/apparmor.png
Terminal=false
Type=Application
StartupNotify=true
Categories=AppArmor
X-Kaisen-Package=apparmor-utils
