[Desktop Entry]
Name=Serial port terminal
Name[fr]=Terminal pour port série
Name[es]=Terminal de puerto serie
Name[pt]=Terminal portuário em série
Name[it]=Terminale della porta seriale
Name[de]=Terminal mit serieller Schnittstelle
Comment=Communicate with the serial port
Comment[fr]=Communiquer avec le port série
Comment[es]=Comunicarse con el puerto serie
Comment[pt]=Comunicar com a porta de série
Comment[it]=Comunicare con la porta seriale
Comment[de]=Serielle Kommunikation
Exec=pkexec gtkterm
Terminal=false
Type=Application
Icon=gtkterm.png
Categories=ConsolePort
X-AppStream-Ignore=true
X-Kaisen-Package=gtkterm
