#!/usr/bin/env xdg-open

[Desktop Entry]
Name=rephrase
Comment=Tool to crack gpg passwords
Comment[fr]=Outil pour cracker un mot de passe gpg
Comment[es]=Herramienta para descifrar una contraseña gpg
Comment[pt]=Ferramenta para quebrar uma senha de gpg
Comment[it]=Strumento per decifrare una password gpg
Comment[de]=Tool zum Knacken eines GPG-Passworts
Exec=kaisen-launcher --command "rephrase"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords
X-Kaisen-Package=rephrase
