#!/usr/bin/env xdg-open

[Desktop Entry]
Name=tcptrace
Comment=Tool to analyse tcpdump output
Comment[fr]=Outil pour analyser la sortie de tcpdump
Comment[es]=Herramienta para analizar la salida de tcpdump
Comment[pt]=Ferramenta para analisar a saída do tcpdump
Comment[it]=Strumento per analizzare l'output di tcpdump
Comment[de]=Tool zur Analyse der Ausgabe von tcpdump
Exec=kaisen-launcher --command "tcptrace -hargs"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=TCP
X-Kaisen-Package=tcptrace
