#!/usr/bin/env xdg-open

[Desktop Entry]
Name=aircrack-ng
Comment=Tool to test wifi security
Comment[fr]=Outil pour tester la sécurité du wifi
Comment[es]=Herramienta para probar la seguridad wifi
Comment[pt]=Ferramenta para testar a segurança do wifi
Comment[it]=Strumento per testare la sicurezza wifi
Comment[de]=Tool zum Testen der WLAN-Sicherheit
Exec=kaisen-launcher --command "aircrack-ng"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=WIFI
X-Kaisen-Package=aircrack-ng
