#!/usr/bin/env xdg-open

[Desktop Entry]
Name=fsarchiver
Comment=Tool to clone Linux and Windows partitions
Comment[fr]=Outil pour cloner des partitions Linux et Windows
Comment[es]=Herramienta para clonar particiones Linux y Windows
Comment[pt]=Ferramenta para clonar partições Linux e Windows
Comment[it]=Strumento per clonare partizioni Linux e Windows
Comment[de]=Tool zum Klonen von Linux- und Windows-Partitionen
Exec=kaisen-launcher --command "fsarchiver -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Cloning
X-Kaisen-Package=fsarchiver
