#!/usr/bin/env xdg-open

[Desktop Entry]
Name=file
Comment=Tool to analyse file content
Comment[fr]=Outil pour analyser le contenu d'un fichier
Comment[es]=Herramienta para analizar el contenido de un archivo
Comment[pt]=Ferramenta para analisar o conteúdo de um arquivo
Comment[it]=Strumento per analizzare il contenuto di un file
Comment[de]=Tool zum Analysieren des Inhalts einer Datei
Exec=kaisen-launcher --command "file"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Analysis
X-Kaisen-Package=file
