#!/usr/bin/env xdg-open

[Desktop Entry]
Name=fsck.fat
Comment=Tool to repair fat partition
Comment[fr]=Outil pour réparer une partition fat
Comment[es]=Herramienta para reparar una partición fat
Comment[pt]=Ferramenta para reparar uma partição fat
Comment[it]=Strumento per riparare una fat partizione
Comment[de]=Tool zum Reparieren einer Partition fat
Exec=kaisen-launcher --command "fsck.fat" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=FSCK
X-Kaisen-Package=dosfstools
