#!/usr/bin/xdg-open

[Desktop Entry]
Name=rclone
Comment=Syncs your files to cloud storage
Comment[fr]=Synchroniser vos fichiers vers un stockage cloud
Comment[es]=Sincroniza tus archivos con el almacenamiento en la nube
Comment[pt]=Sincroniza os seus ficheiros para armazenamento em nuvem
Comment[it]=Sincronizza i tuoi file con il cloud storage
Comment[de]=Synchronisiert Ihre Dateien mit dem Cloud-Speicher
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "rclone help"
Icon=/usr/share/pixmaps/rclone.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Backup
X-Kaisen-Package=rclone
