#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ntp-disable
Name[fr]=ntp-désactivé
Name[es]=ntp-deshabilitado
Name[pt]=ntp-desativado
Name[it]=ntp-disabilitato
Name[de]=ntp-deaktiviert
Comment=Disable ntp daemon
Comment[fr]=Désactiver service ntp
Comment[es]=Deshabilitar servicio ntp
Comment[pt]=Desativar serviço ntp
Comment[it]=Disabilita servizio ntp
Comment[de]=Deaktivieren Sie den NTP-Dienst
Exec=kaisen-launcher --command "/opt/services/ntp-disable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SNTP
X-Kaisen-Package=ntp
