#!/usr/bin/env xdg-open

[Desktop Entry]
Name=lockdown-enable
Name[fr]=lockdown-activé
Name[es]=lockdown-habilitado
Name[pt]=lockdown-ativado
Name[it]=lockdown-abilitato
Name[de]=lockdown-aktiviert
Comment=Enable lockdown service
Comment[fr]=Activer le service lockdown
Comment[es]=Activa servicio lockdown
Comment[pt]=Ativar serviço lockdown
Comment[it]=Attiva servizio lockdown
Comment[de]=Aktivieren Sie den lockdown
Exec=kaisen-launcher --command "/opt/services/lockdown-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SLockdown
X-Kaisen-Package=lockdown
