#!/usr/bin/xdg-open

[Desktop Entry]
Name=f2fstat
Comment=Tool to manage F2FS
Comment[fr]=Outil pour gérer F2FS
Comment[es]=Herramienta para gestionar F2FS
Comment[pt]=Ferramenta para gerenciar F2FS
Comment[it]=Strumento per gestire F2FS
Comment[de]=Dienstprogramm für F2FS
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "f2fstat -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=F2FS
X-Kaisen-Package=f2fs-tools
