#!/usr/bin/env xdg-open

[Desktop Entry]
Name=screen
Comment=Tool for administration on equipment with the console port
Comment[fr]=Outil pour administrer un équipement avec le port console
Comment[es]=Herramienta para administrar un dispositivo con el puerto de consola
Comment[pt]=Ferramenta para administrar um dispositivo com a porta do console
Comment[it]=Strumento per amministrare un dispositivo con la porta della console
Comment[de]=Tool zum Verwalten eines Geräts mit dem Konsolenport
Exec=kaisen-launcher --command "screen -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=ConsolePort
X-Kaisen-Package=screen
