#!/usr/bin/env xdg-open

[Desktop Entry]
Name=vmfs-lvm
Comment=Tool to manage VMFS (VMWare volumes)
Comment[fr]=Outil pour gérer VMFS (VMWare volumes)
Comment[es]=Herramienta para gestionar VMFS (volúmenes VMWare)
Comment[pt]=Ferramenta para gerenciar VMFS (volumes VMWare)
Comment[it]=Strumento per gestire VMFS (volumi VMWare)
Comment[de]=Tool zum Verwalten von VMFS (VMWare-Volumes)
Exec=kaisen-launcher --command "vmfs-lvm -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=VMFS
X-Kaisen-Package=vmfs-tools
