#!/usr/bin/xdg-open

[Desktop Entry]
Name=mlocate-enable
Name[fr]=mlocate-activé
Name[es]=mlocate-habilitado
Name[pt]=mlocate-ativado
Name[it]=mlocate-abilitato
Name[de]=mlocate-aktiviert
Comment=Enable mlocate daemon
Comment[fr]=Activer service mlocate
Comment[es]=Activar servicio mlocate
Comment[pt]=Ativar serviço mlocate
Comment[it]=Attiva servizio mlocate
Comment[de]=Aktivieren Sie den mlocate-Dienst
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "/opt/services/mlocate-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Smlocate
X-Kaisen-Package=mlocate
