#!/usr/bin/env xdg-open

[Desktop Entry]
Name=baculafd-disable
Name[fr]=baculafd-désactivé
Name[es]=baculafd-deshabilitado
Name[pt]=baculafd-desativado
Name[it]=baculafd-disabilitato
Name[de]=baculafd-deaktiviert
Comment=Disable baculafd daemon
Comment[fr]=Désactiver service baculafd
Comment[es]=Deshabilitar servicio baculafd
Comment[pt]=Desativar serviço baculafd
Comment[it]=Disabilita servizio baculafd
Comment[de]=Deaktivieren Sie den Baculafd-Service
Exec=terminator -e "zsh -c '/opt/services/baculafd-disable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SBacula
X-Kaisen-Package=kaisen-services-management
