#!/usr/bin/env xdg-open

[Desktop Entry]
Name=setserial-disable
Name[fr]=setserial-désactivé
Name[es]=setserial-deshabilitado
Name[pt]=setserial-desativado
Name[it]=setserial-disabilitato
Name[de]=setserial-deaktiviert
Comment=Disable setserial daemon
Comment[fr]=Désactiver service setserial
Comment[es]=Deshabilitar servicios setserial
Comment[pt]=Desativar serviço setserial
Comment[it]=Disabilita servizio setserial
Comment[de]=Deaktivieren Sie das Service-Set
Exec=kaisen-launcher --command "/opt/services/setserial-disable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SSetSerial
X-Kaisen-Package=setserial
