#!/usr/bin/xdg-open

[Desktop Entry]
Name=exegol
Comment=Fully featured and community-driven hacking environment
Comment[fr]=Un environnement complet et communautaire pour les tests d'intrusion
Comment[es]=Entorno de hacking con todas las funciones y dirigido por la comunidad
Comment[pt]=Ambiente de hacking com todas as características e orientado para a comunidade
Comment[it]=Ambiente di hacking completo e guidato dalla comunità
Comment[de]=Vollständig ausgestattete und von der Community betriebene Hacking-Umgebung
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "exegol -h" --sudo
Icon=/usr/share/pixmaps/kaisen-menu/exegol.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Exegol
X-Kaisen-Package=exegol
