#!/usr/bin/env xdg-open

[Desktop Entry]
Name=lxcfs
Comment=Tool to mount LXC container in system
Comment[fr]=Outil pour monter un conteneur LXC sur le système
Comment[es]=Herramienta para montar un contenedor LXC en el sistema
Comment[pt]=Ferramenta para montar um contêiner LXC no sistema
Comment[it]=Strumento per montare un contenitore LXC sul sistema
Comment[de]=Werkzeug zum Montieren eines LXC-Containers am System
Exec=kaisen-launcher --command "lxcfs"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Filesystems;LXC
X-Kaisen-Package=lxcfs
