#!/usr/bin/env xdg-open

[Desktop Entry]
Name=mkfs.btrfs
Comment=Tool to create btrfs partition
Comment[fr]=Outil pour créer une partition btrfs
Comment[es]=Herramienta para crear una partición btrfs
Comment[pt]=Ferramenta para criar uma partição btrfs
Comment[it]=Strumento per creare una partizione btrfs
Comment[de]=Tool zum Erstellen einer btrfs-Partition
Exec=kaisen-launcher --command "mkfs.btrfs" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=MKFS
X-Kaisen-Package=btrfs-progs
