#!/usr/bin/env xdg-open

[Desktop Entry]
Name=powershell
Comment=Tool to emulate a Windows Powershell in your terminal
Comment[fr]=Outil pour emuler Windows Powershell sur votre terminal
Comment[es]=Herramienta para emular Windows Powershell en su terminal
Comment[pt]=Ferramenta para emular o Windows Powershell no seu terminal
Comment[it]=Strumento per emulare Windows Powershell sul tuo terminale
Comment[de]=Tool zum Emulieren von Windows Powershell auf Ihrem Terminal
Exec=kaisen-launcher --command "pwsh"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Microsoft
X-Kaisen-Package=powershell
