#!/usr/bin/xdg-open

[Desktop Entry]
Name=webmitm
Comment=HTTP/HTTPS monkey-in-the-middle
Comment[fr]=HTTP/HTTPS attaque de type « man-in-the-middle »
Comment[es]=HTTP/HTTPS ataque man-in-the-middle
Comment[pt]=HTTP/HTTPS monkey-in-the-middle
Comment[it]=HTTP/HTTPS attacco man-in-the-middle
Comment[de]=HTTP/HTTPS man-in-the-middle
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "webmitm -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Scanner
X-Kaisen-Package=dsniff
