#!/usr/bin/env xdg-open

[Desktop Entry]
Name=lxc-enable
Name[fr]=lxc-activé
Comment=Enable lxc daemon
Comment[fr]=Activer service lxc
Exec=terminator -e "zsh -c '/opt/services/lxc-enable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SContainers
X-Kaisen-Package=kaisen-services-management
