#!/usr/bin/xdg-open

[Desktop Entry]
Name=recoverdm
Comment=Utility for recovering data from faulty hard disk sectors
Comment[fr]=Utilitaire permettant de récupérer des données à partir de secteurs défectueux d'un disque dur
Comment[es]=Utilidad para recuperar datos de sectores defectuosos del disco duro.
Comment[pt]=Utilitário para recuperar dados de setores defeituosos do disco rígido
Comment[it]=Utilità per il recupero dei dati dai settori danneggiati del disco rigido
Comment[de]=Dienstprogramm zur Wiederherstellung von Daten aus fehlerhaften Festplattensektoren
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "recoverdm -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Recovery
X-Kaisen-Package=recoverdm
