#!/usr/bin/env xdg-open

[Desktop Entry]
Name=recoverjpeg
Comment=Tool to recover jpeg pictures
Comment[fr]=Outil pour récupérer des images jpeg
Comment[es]=Herramienta para recuperar imágenes JPEG
Comment[pt]=Ferramenta para recuperar imagens JPEG
Comment[it]=Strumento per recuperare immagini jpeg
Comment[de]=Tool zum Wiederherstellen von JPEG-Bildern
Exec=kaisen-launcher --command "recoverjpeg"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Recovery
X-Kaisen-Package=recoverjpeg
