#!/usr/bin/xdg-open

[Desktop Entry]
Name=mkfs.hfsplus
Comment=Tool to create a HFS+ partition
Comment[fr]=Outil pour créer une partition HFS+
Comment[es]=Herramienta para crear una partición HFS+
Comment[pt]=Ferramenta para criar uma partição HFS+
Comment[it]=Strumento per creare una partizione HFS+
Comment[de]=Dienstprogramm zum Erstellen einer HFS+-Partition
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "mkfs.hfsplus" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=MKFS
X-Kaisen-Package=hfsplus
