#!/usr/bin/xdg-open

[Desktop Entry]
Name=zilstat
Comment=Program to print zilstats
Comment[fr]=Programme d'impression des zilstats
Comment[es]=Programa para imprimir zilstats
Comment[pt]=Programa para imprimir zilstats
Comment[it]=Programma per stampare zilstat
Comment[de]=Programm zum Drucken von Zilstats
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "zilstat -h" --sudo
Icon=/usr/share/pixmaps/kaisen-menu/openzfs.png
Terminal=false
Type=Application
StartupNotify=true
Categories=ZFS
X-Kaisen-Package=zfsutils-linux
