#!/usr/bin/xdg-open

[Desktop Entry]
Name=iozone
Comment=Filesystem becnhmark tool
Comment[fr]=Outil de benchmark de systèmes de fichiers
Comment[es]=Herramienta de benchmark del sistema de archivos
Comment[pt]=Sistema de arquivo benchmark ferramenta
Comment[it]=Strumento benchmark del filesystem
Comment[de]=Dateisystem becnhmark Werkzeug
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "iozone -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DisksAnalysis
X-Kaisen-Package=iozone3
