#!/usr/bin/env xdg-open

[Desktop Entry]
Name=nilfs-clean
Comment=Tool to manage NILFS
Comment[fr]=Outil pour gérer NILFS
Comment[es]=Herramienta para gestionar NILFS
Comment[pt]=Ferramenta para gerenciar NILFS
Comment[it]=Strumento per gestire NILFS
Comment[de]=Tool zum Verwalten von NILFS
Exec=kaisen-launcher --command "nilfs-clean -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NILFS
X-Kaisen-Package=nilfs-tools
