#!/usr/bin/xdg-open

[Desktop Entry]
Name=rdiff
Comment=Compute and apply signature-based file differences
Comment[fr]=Calculer et appliquer les différences de fichiers basées sur les signatures
Comment[es]=Calcular y aplicar las diferencias de archivos basadas en la firma
Comment[pt]=Calcular e aplicar diferenças de ficheiros com base na assinatura
Comment[it]=Calcolare e applicare differenze di file basate sulla firma
Comment[de]=Berechnung und Anwendung signaturbasierter Dateidifferenzen
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "man rdiff"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Rdiff
X-Kaisen-Package=rdiff
