#!/usr/bin/xdg-open

[Desktop Entry]
Name=smartmontools-enable
Name[fr]=smartmontools-activé
Name[es]=smartmontools-habilitado
Name[pt]=smartmontools-ativado
Name[it]=smartmontools-abilitato
Name[de]=smartmontools-aktivieren
Comment=Enable smartmontools daemon
Comment[fr]=Activer service smartmontools
Comment[es]=Activa servicio smartmontools
Comment[pt]=Ativar serviço smartmontools
Comment[it]=Attiva servizio smartmontools
Comment[de]=Aktiviert den Smartmontools-Dienst
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "/usr/share/kaisen-services-management/smartmontools-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SSmartmontools
X-Kaisen-Package=smartmontools
