#!/usr/bin/xdg-open

[Desktop Entry]
Name=terraform
Comment=Terraform enables you to safely and predictably create, and improve infrastructure
Comment[fr]=Terraform vous permet de créer, modifier et améliorer l'infrastructure en toute sécurité et de manière prévisible
Comment[es]=Terraform le permite crear y mejorar la infraestructura de forma segura y predecible
Comment[pt]=O Terraform permite que você crie e melhore a infraestrutura de forma segura e previsível
Comment[it]=Terraform ti consente di creare e migliorare l'infrastruttura in modo sicuro e prevedibile
Comment[de]=Mit Terraform lässt sich sicher und vorhersehbar Infrastrukturen erstellen und verbessern
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "terraform -help"
Icon=/usr/share/pixmaps/kaisen-menu/terraform.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Terraform
X-Kaisen-Package=terraform
