#!/usr/bin/env xdg-open

[Desktop Entry]
Name=mkfs.nilfs2
Comment=Tool to create nilfs2 partition
Comment[fr]=Outil pour créer une partition nilfs2
Comment[es]=Herramienta para crear una partición nilfs2
Comment[pt]=Ferramenta para criar uma partição nilfs2
Comment[it]=Strumento per creare una partizione nilfs2
Comment[de]=Tool zum Erstellen einer nilfs2-Partition
Exec=kaisen-launcher --command "mkfs.nilfs2" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=MKFS
X-Kaisen-Package=nilfs-tools
