#!/usr/bin/env xdg-open

[Desktop Entry]
Name=fvdemount
Comment=Tool for filevault disk mount
Comment[fr]=Outil pour monter les disques filevault
Comment[es]=Herramienta para montar discos de FileVault
Comment[pt]=Ferramenta para montar discos de FileVault
Comment[it]=Strumento per montare dischi filevault
Comment[de]=Tool zum Mounten von Filevault-Discs
Exec=kaisen-launcher --command "fvdemount" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=FileVault
X-Kaisen-Package=libfvde-utils
