#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dhcpdump
Comment=Tool to analyse dhcp
Comment[fr]=Outil pour analyser le dhcp
Comment[es]=Herramienta para analizar dhcp
Comment[pt]=Ferramenta para analisar dhcp
Comment[it]=Strumento per analizzare dhcp
Comment[de]=Tool zur Analyse von DHCP
Exec=kaisen-launcher --command "dhcpdump -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DHCP
X-Kaisen-Package=dhcpdump
