#!/usr/bin/xdg-open

[Desktop Entry]
Name=btrfs-space-calculator
Comment=Calculate usable and wasted space on BTRFS partition
Comment[fr]=Calculer l'espace utilisable et gaspillé sur partition BTRFS
Comment[es]=Calcule el espacio útil y desperdiciado en la partición BTRFS
Comment[pt]=Calcule o espaço utilizável e desperdiçado na partição BTRFS
Comment[it]=Calcola lo spazio utilizzabile e sprecato sulla partizione BTRFS
Comment[de]=Berechnet den nutzbaren und ungenutzten Speicherplatz auf einer BTRFS-Partition
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "btrfs-space-calculator -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=BTRFS
X-Kaisen-Package=btrfs-progs
