#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dump
Comment=Tool to backup EXT partitions
Comment[fr]=Outil pour sauvegarder les partitions EXT
Comment[es]=Herramienta para guardar particiones EXT
Comment[pt]=Ferramenta para salvar partições EXT
Comment[it]=Strumento per salvare le partizioni EXT
Comment[de]=Tool zum Speichern von EXT-Partitionen
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "dump" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Backup
X-Kaisen-Package=dump
