#!/usr/bin/xdg-open

[Desktop Entry]
Name=arp-scan
Comment=ARP scanner
Comment[fr]=Scanner ARP
Comment[es]=Escáner ARP
Comment[pt]=Scanner ARP
Comment[it]=Scanner ARP
Comment[de]=ARP Scanner
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "arp-scan --help" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=MAC;Scanner
X-Kaisen-Package=arp-scan
