#!/usr/bin/env xdg-open

[Desktop Entry]
Name=rdesktop
Comment=Tool to connect to a remote server
Comment[fr]=Outil pour se connecter sur un serveur distant
Comment[es]=Herramienta para conectarse a un servidor remoto
Comment[pt]=Ferramenta para conectar-se a um servidor remoto
Comment[it]=Strumento per connettersi a un server remoto
Comment[de]=Tool zum Herstellen einer Verbindung zu einem Remote-Server
Exec=kaisen-launcher --command "rdesktop -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=RemoteAdministration
X-Kaisen-Package=rdesktop
