#!/usr/bin/xdg-open

[Desktop Entry]
Name=lxcfs
Comment=System virtualization filesystem for containers
Comment[fr]=Système de fichiers de virtualisation du système pour les conteneurs
Comment[es]=Sistema de archivos de virtualización del sistema para contenedores
Comment[pt]=Sistema de arquivos de virtualização de sistema para contêineres
Comment[it]=File system di virtualizzazione del sistema per i contenitori
Comment[de]=Systemvirtualisierungs-Dateisystem für Container
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "lxcfs"
Icon=/usr/share/pixmaps/kaisen/lxc.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Filesystems;LXC
X-Kaisen-Package=lxcfs
