#!/usr/bin/env xdg-open

[Desktop Entry]
Name=tracepath
Comment=Tool to trace path to a network host
Comment[fr]=Outil pour tracer le chemin vers le poste distant
Comment[es]=Herramienta para rastrear el camino a la estación remota
Comment[pt]=Ferramenta para rastrear o caminho para a estação remota
Comment[it]=Strumento per tracciare il percorso verso la stazione remota
Comment[de]=Tool zum Verfolgen des Pfads zur Remote-Station
Exec=kaisen-launcher --command "tracepath"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Scanner
X-Kaisen-Package=iputils-tracepath
