#!/usr/bin/env xdg-open

[Desktop Entry]
Name=wireguard
Comment=Tool to connect to a VPN
Comment[fr]=Outil pour se connecter à un VPN
Comment[es]=Herramienta para conectarse a una VPN
Comment[pt]=Ferramenta para conectar-se a uma VPN
Comment[it]=Strumento per connettersi a una VPN
Comment[de]=Tool zum Herstellen einer Verbindung zu einem VPN
Exec=kaisen-launcher --command "echo Configure wireguard on /etc/wireguard folder"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=VPN
X-Kaisen-Package=wireguard
