#!/usr/bin/env xdg-open

[Desktop Entry]
Name=gluster-georep-sshkey
Comment=Manage georeplication SSH keys
Comment[fr]=Gérer les clés SSH de géoréplication
Comment[es]=Administrar claves SSH de georreplicación
Comment[pt]=Gerenciar chaves SSH de georreplicação
Comment[it]=Gestisci le chiavi SSH di georeplicazione
Comment[de]=Verwalten von Georeplikations-SSH-Schlüsseln
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "gluster-georep-sshkey -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=GlusterFS
X-Kaisen-Package=glusterfs-client
