#!/usr/bin/xdg-open

[Desktop Entry]
Name=btrfs-image
Comment=Create/restore an image of the filesystem
Comment[fr]=Créer/restorer une image du système de fichiers
Comment[es]=Crear/restaurar la imagen del sistema de archivos
Comment[pt]=Criar/restaurar imagem do sistema de arquivos
Comment[it]=Crea/ripristina l'immagine del file system
Comment[de]=Dateisystem-Image erstellen/wiederherstellen
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "btrfs-image --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=BTRFS
X-Kaisen-Package=btrfs-progs
