#!/usr/bin/xdg-open

[Desktop Entry]
Name=OpenVPN-disable
Name[fr]=OpenVPN-désactivé
Name[es]=OpenVPN-deshabilitado
Name[pt]=OpenVPN-desativado
Name[it]=OpenVPN-disabilitato
Name[de]=OpenVPN-deaktivieren
Comment=Disable OpenVPN daemon
Comment[fr]=Désactiver service OpenVPN
Comment[es]=Deshabilitar servicio OpenVPN
Comment[pt]=Desativar serviço OpenVPN
Comment[it]=Disabilita servizio OpenVPN
Comment[de]=Deaktiviert den OpenVPN-Dienst
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "/usr/share/kaisen-services-management/openvpn-disable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SOpenVPN
X-Kaisen-Package=openvpn
