#!/usr/bin/env xdg-open

[Desktop Entry]
Name=udp-sender
Comment=Tool to send udp packets
Comment[fr]=Outil pour envoyer des paquets udp
Comment[es]=Herramienta para enviar paquetes udp
Comment[pt]=Ferramenta para enviar pacotes udp
Comment[it]=Strumento per inviare pacchetti udp
Comment[de]=Tool zum Senden von UDP-Paketen
Exec=kaisen-launcher --command "udp-sender"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=UDP
X-Kaisen-Package=udpcast
