#!/usr/bin/env xdg-open

[Desktop Entry]
Name=smartmontools-enable
Name[fr]=smartmontools-activé
Name[es]=smartmontools-habilitado
Name[pt]=smartmontools-ativado
Name[it]=smartmontools-abilitato
Name[de]=smartmontools-aktiviert
Comment=Enable smartmontools daemon
Comment[fr]=Activer service smartmontools
Comment[es]=Activa servicio smartmontools
Comment[pt]=Ativar serviço smartmontools
Comment[it]=Attiva servizio smartmontools
Comment[de]=Aktivieren Sie den Smartmontools-Dienst
Exec=kaisen-launcher --command "/opt/services/smartmontools-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SSmartmontools
X-Kaisen-Package=smartmontools
