#!/usr/bin/env xdg-open

[Desktop Entry]
Name=lockfile-remove
Comment=Tool to remove protected file
Comment[fr]=Outil pour supprimer un fichier protégé
Comment[es]=Herramienta para eliminar archivos protegidos
Comment[pt]=Ferramenta para excluir arquivo protegido
Comment[it]=Strumento per eliminare il file protetto
Comment[de]=Tool zum Löschen geschützter Dateien
Exec=kaisen-launcher --command "lockfile-remove"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Dataprotection
X-Kaisen-Package=lockfile-progs
