#!/usr/bin/xdg-open

[Desktop Entry]
Name=lxc-wait
Comment=Wait for a specific container state
Comment[fr]=Attendre un état de conteneur spécifique
Comment[es]=Espere un estado de contenedor específico
Comment[pt]=Aguarde um estado de contêiner específico
Comment[it]=Attendi uno stato del contenitore specifico
Comment[de]=Warten Sie auf einen bestimmten Containerstatus
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "lxc-wait -h"
Icon=/usr/share/pixmaps/kaisen-menu/lxc.png
Terminal=false
Type=Application
StartupNotify=true
Categories=LXC
X-Kaisen-Package=lxc
