#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Hardware Lister
Name[fr]=Lister le matériel
Name[es]=Listar el material
Name[pt]=Listar o material
Name[it]=Elencare il materiale
Name[de]=Listen Sie das Material auf
Comment=Provides information on hardware
Comment[fr]=Afficher les informations sur le matériel
Comment[es]=Ver información de hardware
Comment[pt]=Exibir informações de hardware
Comment[it]=Visualizza le informazioni sull'hardware
Comment[de]=Hardware-Informationen anzeigen
Icon=lshw-gtk
Exec=sh -c "gksudo lshw-gtk"
Terminal=false
Type=Application
Categories=Hardware
X-Kaisen-Package=lshw-gtk
