#!/usr/bin/env xdg-open

[Desktop Entry]
Name=lxc-checkconfig
Name[fr]=lxc-checkconfig
Comment=Tool to manage LXC container
Comment[fr]=Outil pour gérer un container LXC
Exec=terminator -e "zsh -c 'lxc-checkconfig;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=LXC
X-Kaisen-Package=lxc
