#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ntfs-3g
Comment=Third Generation Read/Write NTFS Driver
Comment[fr]=Pilote NTFS lecture/écriture de troisième génération
Comment[es]=Controlador NTFS de lectura/escritura de tercera generación
Comment[pt]=Driver NTFS de leitura/gravação de terceira geração
Comment[it]=Driver NTFS in lettura/scrittura di terza generazione
Comment[de]=Lese-/Schreib-NTFS-Treiber der dritten Generation
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "ntfs-3g"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NTFS
X-Kaisen-Package=ntfs-3g
