#!/usr/bin/env xdg-open

[Desktop Entry]
Name=mount
Comment=Tool to mount filesystems
Comment[fr]=Outil pour monter des systèmes de fichiers
Comment[es]=Herramienta para montar sistemas de archivos
Comment[pt]=Ferramenta para montar sistemas de arquivos
Comment[it]=Strumento per montare file system
Comment[de]=Tool zum Mounten von Dateisystemen
Exec=kaisen-launcher --command "mount -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Mount
X-Kaisen-Package=mount
