#!/usr/bin/env xdg-open

[Desktop Entry]
Name=apfsmount
Name[fr]=apfsmount
Comment=Tool for apfs disk mount
Comment[fr]=Outil pour monter les disques apfs
Exec=terminator -e "zsh -c 'fsapfsmount;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=APFS
X-Kaisen-Package=libbde-utils
