#!/usr/bin/env xdg-open

[Desktop Entry]
Name=gluster-georep-ssh
Name[fr]=gluster-georep-ssh
Comment=Tool to manage gluster filesystem
Comment[fr]=Outil pour gérer le système de fichiers gluster
Exec=terminator -e "zsh -c 'sudo gluster-georep-sshkey -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=GlusterFS
X-Kaisen-Package=glusterfs-client
