#!/usr/bin/env xdg-open

[Desktop Entry]
Name=smartmontools-disable
Name[fr]=smartmontools-désactivé
Name[es]=smartmontools-deshabilitado
Name[pt]=smartmontools-desativado
Name[it]=smartmontools-disabilitato
Name[de]=smartmontools-deaktiviert
Comment=Enable smartmontools daemon
Comment[fr]=Activer service smartmontools
Comment[es]=Activa servicio smartmontools
Comment[pt]=Ativar serviço smartmontools
Comment[it]=Attiva servizio smartmontools
Comment[de]=Aktivieren Sie den Smartmontools-Dienst
Exec=kaisen-launcher --command "/opt/services/smartmontools-disable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SSmartmontools
X-Kaisen-Package=smartmontools
