#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ddrescueview
Name[fr]=ddrescueview
Comment=Tool to check the health of your disk
Comment[fr]=Outil pour vérifier la santé du disque
Exec=ddrescueview
Icon=ddrescueview
Terminal=false
Type=Application
StartupNotify=true
Categories=Recovery
X-Kaisen-Package=ddrescueview
