#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ocfs2_hb_ctl
Comment=Tool to manage OCFS2
Comment[fr]=Outil pour gérer OCFS2
Comment[es]=Herramienta para gestionar OCFS2
Comment[pt]=Ferramenta para gerenciar o OCFS2
Comment[it]=Strumento per gestire OCFS2
Comment[de]=Tool zum Verwalten von OCFS2
Exec=kaisen-launcher --command "ocfs2_hb_ctl" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Filesystems
X-Kaisen-Package=ocfs2-tools
