#!/usr/bin/xdg-open

[Desktop Entry]
Name=xfs_bmap
Comment=Print block mapping for an XFS file
Comment[fr]=Mappage de bloc d'impression pour un fichier XFS
Comment[es]=Asignación de bloques de impresión para un archivo XFS
Comment[pt]=Imprimir mapeamento de bloco para um arquivo XFS
Comment[it]=Stampa la mappatura dei blocchi per un file XFS
Comment[de]=Blockzuordnung für eine XFS-Datei anzeigen
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "xfs_bmap -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=XFS
X-Kaisen-Package=xfsprogs
