#!/usr/bin/env xdg-open

[Desktop Entry]
Name=cbm
Comment=Tool to analyse network speed in real time
Comment[fr]=Outil pour analyser en temps réel la vitesse réseau
Comment[es]=Herramienta para analizar la velocidad de la red en tiempo real
Comment[pt]=Ferramenta para analisar a velocidade da rede em tempo real
Comment[it]=Strumento per analizzare la velocità della rete in tempo reale
Comment[de]=Tool zur Analyse der Netzwerkgeschwindigkeit in Echtzeit
Exec=kaisen-launcher --command "cbm"
Terminal=false
Type=Application
Icon=utilities-terminal
StartupNotify=true
Categories=Monitoring
X-Kaisen-Package=cbm
