#!/usr/bin/env xdg-open

[Desktop Entry]
Name=gdisk
Comment=Tool to manipulate GPT partitions
Comment[fr]=Outil pour manipuler les partitions GPT
Comment[es]=Herramienta para manipular particiones GPT
Comment[pt]=Ferramenta para manipular partições GPT
Comment[it]=Strumento per manipolare le partizioni GPT
Comment[de]=Tool zum Bearbeiten von GPT-Partitionen
Exec=kaisen-launcher --command "gdisk" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Partitioning
X-Kaisen-Package=gdisk
