#!/usr/bin/env xdg-open

[Desktop Entry]
Name=fio
Comment=Tool to test E/S
Comment[fr]=Outil pour tester E/S
Comment[es]=Herramienta para probar E/S
Comment[pt]=Ferramenta para testar E/S
Comment[it]=Strumento per testare l'I/O
Comment[de]=Tool zum Testen von E/A
Exec=kaisen-launcher --command "fio"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Hardware
X-Kaisen-Package=fio
