#!/usr/bin/xdg-open

[Desktop Entry]
Name=ansible-config
Comment=View ansible configuration
Comment[fr]=Afficher la configuration d'Ansible
Comment[es]=Ver la configuración de Ansible
Comment[pt]=Ver a configuração do Ansible
Comment[it]=Visualizza la configurazione di Ansible
Comment[de]=Ansible-Konfiguration anzeigen
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "ansible-config -h"
Icon=/usr/share/pixmaps/kaisen-menu/ansible.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Ansible
X-Kaisen-Package=ansible
