#!/usr/bin/env xdg-open

[Desktop Entry]
Name=netdiscover
Comment=Tool to scan network address via ARP
Comment[fr]=Outil pour scanner des adresses réseaux via ARP
Comment[es]=Herramienta para escanear direcciones de red a través de ARP
Comment[pt]=Ferramenta para verificar endereços de rede via ARP
Comment[it]=Strumento per scansionare gli indirizzi di rete tramite ARP
Comment[de]=Tool zum Scannen von Netzwerkadressen über ARP
Exec=kaisen-launcher --command "netdiscover -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Scanner
X-Kaisen-Package=netdiscover
