#!/usr/bin/env xdg-open

[Desktop Entry]
Name=hping3
Comment=Tool for active network smashing
Comment[fr]=Outil de reconnaissance active de smashing réseau
Comment[es]=Herramienta de reconocimiento de rotura de red activa
Comment[pt]=Ferramenta de reconhecimento de esmagamento de rede ativa
Comment[it]=Strumento di riconoscimento smashing attivo della rete
Comment[de]=Aktives Tool zur Erkennung von Netzwerkzerstörungen
Exec=kaisen-launcher --command "hping3 -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Scanner
X-Kaisen-Package=hping3
