#!/usr/bin/env xdg-open

[Desktop Entry]
Name=whois
Comment=WHOIS client
Comment[fr]=Client WHOIS
Comment[es]=Cliente de WHOIS
Comment[pt]=Cliente WHOIS
Comment[it]=Client WHOIS
Comment[de]=WHOIS-Kunde
Exec=kaisen-launcher --command "whois --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DNS
X-Kaisen-Package=whois
