#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Midnight Commander
Comment=File manager
Comment[fr]=Gestionnaire de fichiers
Comment[es]=Administrador de archivos
Comment[pt]=Gerenciador de arquivos
Comment[it]=File manager
Comment[de]=Dateimanager
Exec=mc
Icon=MidnightCommander
Terminal=true
Type=Application
Categories=Miscellaneous
X-Kaisen-Package=mc
