#!/usr/bin/env xdg-open

[Desktop Entry]
Name=flashbench-erase
Comment=Tool to test E/S on flash devices
Comment[fr]=Outil pour tester E/S sur les périphériques flashs
Comment[es]=Herramienta para probar E/S en dispositivos flash
Comment[pt]=Ferramenta para testar E/S em dispositivos flash
Comment[it]=Strumento per testare l'I/O su dispositivi flash
Comment[de]=Tool zum Testen von E/A auf Flash-Geräten
Exec=kaisen-launcher --command "flashbench-erase -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Hardware
X-Kaisen-Package=flashbench
