#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ntfscp
Comment=Copy file to an NTFS volume
Comment[fr]=Copier le fichier sur un volume NTFS
Comment[es]=Copiar archivo a un volumen NTFS
Comment[pt]=Copie o arquivo para um volume NTFS
Comment[it]=Copia il file su un volume NTFS
Comment[de]=Kopieren Sie die Datei auf ein NTFS-Volume
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "ntfscp -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NTFS
X-Kaisen-Package=ntfs-3g
