#!/usr/bin/env xdg-open

[Desktop Entry]
Name=unp
Comment=Tool to facilitate extraction of an archive file
Comment[fr]=Outil pour faciliter l'extraction d'une archive
Comment[es]=Herramienta para facilitar la extracción de un archivo
Comment[pt]=Ferramenta para facilitar a extração de um arquivo
Comment[it]=Strumento per facilitare l'estrazione di un archivio
Comment[de]=Tool zur Erleichterung der Extraktion eines Archivs
Exec=kaisen-launcher --command "unar"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=ZIP
X-Kaisen-Package=unp
