#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dirvish-locate
Comment=Locate file versions in dirvish images
Comment[fr]=Localiser les versions de fichiers dans des images dirvish
Comment[es]=Localizar versiones de archivos en imágenes dirvish
Comment[pt]=Localize versões de arquivo em imagens dirvish
Comment[it]=Individua le versioni dei file nelle immagini sporche
Comment[de]=Suchen Sie Dateiversionen in Dirvish-Bildern
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "dirvish-locate" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Dirvish
X-Kaisen-Package=dirvish
