#!/usr/bin/xdg-open

[Desktop Entry]
Name=packer
Comment=Tool to build automated machine images
Comment[fr]=Outil pour construire des images machines automatisées
Comment[es]=Herramienta para construir imágenes de máquinas automatizadas
Comment[pt]=Ferramenta para construir imagens de máquinas automatizadas
Comment[it]=Strumento per creare immagini di macchine automatiche
Comment[de]=Tool zum Erstellen automatisierter Maschinenbilder
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "packer --help"
Icon=/usr/share/pixmaps/kaisen/packer.png
Terminal=false
Type=Application
StartupNotify=true
Categories=DevOps
X-Kaisen-Package=packer
