#!/usr/bin/xdg-open

[Desktop Entry]
Name=tftpd-disable
Name[fr]=tftpd-désactivé
Name[es]=tftpd-deshabilitado
Name[pt]=tftpd-desativado
Name[it]=tftpd-disabilitato
Name[de]=tftpd-deaktiviert
Comment=Disable tftpd
Comment[fr]=Désactiver service tftpd
Comment[es]=Deshabilitar servicio tftpd
Comment[pt]=Desativar serviço tftpd
Comment[it]=Disabilita servizio tftpd
Comment[de]=Deaktivieren Sie den tftpd-Dienst
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "/usr/share/kaisen-services-management/tftpd-disable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Stftpd
X-Kaisen-Package=tftpd-hpa
