#!/usr/bin/xdg-open

[Desktop Entry]
Name=gfs2_lockcapture
Comment=Capture locking information from GFS2 file systems and DLM
Comment[fr]=Capturez les informations de verrouillage des systèmes de fichiers GFS2 et DLM
Comment[es]=Capture información de bloqueo de sistemas de archivos GFS2 y DLM
Comment[pt]=Capture informações de bloqueio de sistemas de arquivos GFS2 e DLM
Comment[it]=Acquisisci le informazioni di blocco dai file system GFS2 e DLM
Comment[de]=Erfassen Sie Sperrinformationen aus GFS2-Dateisystemen und DLM
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "gfs2_lockcapture -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=GFS2
X-Kaisen-Package=gfs2-utils
