#!/usr/bin/env xdg-open

[Desktop Entry]
Name=hwinfo
Comment=Tool to get hardware info
Comment[fr]=Outil pour obtenir les informations matérielles
Comment[es]=Herramienta para obtener información material
Comment[pt]=Ferramenta para obter informações relevantes
Comment[it]=Strumento per ottenere informazioni sui materiali
Comment[de]=Werkzeug zum Abrufen von Materialinformationen
Exec=kaisen-launcher --command "hwinfo" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Hardware
X-Kaisen-Package=hwinfo
