#!/usr/bin/env xdg-open

[Desktop Entry]
Name=gfs2mkfs
Comment=Tool to create GFS2 partition
Comment[fr]=Outil pour créer une partition GFS2
Comment[es]=Herramienta para crear una partición GFS2
Comment[pt]=Ferramenta para criar uma partição GFS2
Comment[it]=Strumento per creare una partizione GFS2
Comment[de]=Tool zum Erstellen einer GFS2-Partition
Exec=kaisen-launcher --command "gfs2_mkfs -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=GFS2
X-Kaisen-Package=gfs2-utils
