#!/usr/bin/env xdg-open

[Desktop Entry]
Name=vmdkmount
Comment=Tool to mount vmdk disk
Comment[fr]=Outil pour monter les disques vmdk de vmware
Comment[es]=Herramienta para montar discos vmdk de vmware
Comment[pt]=Ferramenta para montagem de discos vmdk de vmware
Comment[it]=Strumento per il montaggio di dischi vmdk di vmware
Comment[de]=Tool zum Mounten von vmdk vmdk-Festplatten
Exec=kaisen-launcher --command "vmdkmount"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=VMDK
X-Kaisen-Package=libvmdk-utils
