#!/usr/bin/env xdg-open

[Desktop Entry]
Name=mkfs.hfsplus
Comment=Tool to create hfsplus partition
Comment[fr]=Outil pour créer une partition hfsplus
Comment[es]=Herramienta para crear una partición hfsplus
Comment[pt]=Ferramenta para criar uma partição hfsplus
Comment[it]=Strumento per creare una partizione hfsplus
Comment[de]=Tool zum Erstellen einer hfsplus-Partition
Exec=kaisen-launcher --command "mkfs.hfsplus" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=MKFS
X-Kaisen-Package=hfsplus
