#!/usr/bin/env xdg-open

[Desktop Entry]
Name=fdisk
Comment=Tool for partitioning
Comment[fr]=Outil de partitionnement
Comment[es]=Herramienta de particionamiento
Comment[pt]=Ferramenta de particionamento
Comment[it]=Strumento di partizionamento
Comment[de]=Partitionierungswerkzeug
Exec=kaisen-launcher --command "fdisk -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Partitioning
X-Kaisen-Package=fdisk
