#!/usr/bin/env xdg-open

[Desktop Entry]
Name=sdmem
Comment=Tool to securely erase free RAM
Comment[fr]=Outil pour effacer l'espace libre en RAM
Comment[es]=Herramienta para limpiar espacio libre en RAM
Comment[pt]=Ferramenta para liberar espaço livre na RAM
Comment[it]=Strumento per liberare spazio libero nella RAM
Comment[de]=Tool zum Freigeben von freiem Speicherplatz im RAM
Exec=kaisen-launcher --command "sdmem -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Partitioning
X-Kaisen-Package=secure-delete
