#!/usr/bin/xdg-open

[Desktop Entry]
Name=fsck.exfat
Comment=Tool to check the integrity of a EXFAT partition
Comment[fr]=Outil pour vérifier l'intégrité d'une partition EXFAT
Comment[es]=Herramienta para comprobar la integridad de una partición EXFAT
Comment[pt]=Ferramenta para verificar a integridade de uma partição EXFAT
Comment[it]=Strumento per verificare l'integrità di una partizione EXFAT
Comment[de]=Dienstprogramm zur Überprüfung der Integrität einer EXFAT-Partition
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "fsck.exfat --help" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=FSCK
X-Kaisen-Package=exfatprogs
