#!/usr/bin/xdg-open

[Desktop Entry]
Name=glusterfind
Comment=GLUSTERFS incremental API
Comment[fr]=API incrémentielle GLUSTERFS
Comment[es]=API incremental GLUSTERFS
Comment[pt]=API incremental GLUSTERFS
Comment[it]=API incrementale GLUSTERFS
Comment[de]=Inkrementelle GLUSTERFS-API
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "glusterfind -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=GlusterFS
X-Kaisen-Package=glusterfs-client
