#!/usr/bin/env xdg-open

[Desktop Entry]
Name=mkfs.reiserfs
Comment=Tool to create reiserfs partition
Comment[fr]=Outil pour créer une partition reiserfs
Comment[es]=Herramienta para crear una partición reiserfs
Comment[pt]=Ferramenta para criar uma partição reiserfs
Comment[it]=Strumento per creare una partizione reiserfs
Comment[de]=Tool zum Erstellen einer reiserfs-Partition
Exec=kaisen-launcher --command "mkfs.reiserfs" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=MKFS
X-Kaisen-Package=reiserfsprogs
