#!/usr/bin/env xdg-open

[Desktop Entry]
Name=kubectl
Comment=Tool to control the Kubernetes cluster manager
Comment[fr]=Outil pour contrôler la gestion de cluster Kubernetes
Comment[es]=Herramienta para controlar la gestión de clústeres de Kubernetes
Comment[pt]=Ferramenta para controlar o gerenciamento de cluster Kubernetes
Comment[it]=Strumento per controllare la gestione dei cluster di Kubernetes
Comment[de]=Tool zur Steuerung der Kubernetes-Clusterverwaltung
Exec=kaisen-launcher --command "kubectl"
Icon=/usr/share/pixmaps/kaisen/kubernetes.png
Terminal=false
Type=Application
StartupNotify=true
Categories=SysOps
X-Kaisen-Package=kubernetes-client
