#!/usr/bin/env xdg-open

[Desktop Entry]
Name=balenaEtcher
Name[fr]=balenaEtcher
Comment=Tool to create Linux USB bootable keys
Comment[fr]=Outil pour créer des clés USB bootables Linux
Exec=sh -c "gksudo balena-etcher-electron"
Icon=balena-etcher-electron
Terminal=false
Type=Application
StartupNotify=true
Categories=USBBoot
X-Kaisen-Package=balena-etcher-electron
