#!/usr/bin/env xdg-open

[Desktop Entry]
Name=sysstat-enable
Name[fr]=sysstat-activé
Name[es]=sysstat-activado
Name[pt]=sysstat-ativado
Name[it]=sysstat-attivato
Name[de]=sysstat-aktiviert
Comment=Enable sysstat daemon
Comment[fr]=Activer service sysstat
Comment[es]=Activar servicio sysstat
Comment[pt]=Ativar serviço sysstat
Comment[it]=Attiva servizio sysstat
Comment[de]=Aktivieren Sie den Sysstat-Dienst
Exec=kaisen-launcher --command "/opt/services/sysstat-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SSysstat
X-Kaisen-Package=sysstat
