#!/usr/bin/env xdg-open

[Desktop Entry]
Name=rsbackup
Comment=Backup tool based at rsync
Comment[fr]=Outil de sauvegarde basé sur rsync
Comment[es]=Herramienta de respaldo basada en Rsync
Comment[pt]=Ferramenta de backup baseada em Rsync
Comment[it]=Strumento di backup basato su Rsync
Comment[de]=Rsync-basiertes Backup-Tool
Exec=kaisen-launcher --command "rsbackup -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Backup
X-Kaisen-Package=rsbackup
