#!/usr/bin/xdg-open

[Desktop Entry]
Name=iperf3-disable
Name[fr]=iperf3-désactivé
Name[es]=iperf3-deshabilitado
Name[pt]=iperf3-desativado
Name[it]=iperf3-disabilitato
Name[de]=iperf3-deaktiviert
Comment=Disable iperf3 daemon
Comment[fr]=Désactiver service iperf3
Comment[es]=Deshabilitar servicio iperf3
Comment[pt]=Desativar serviço iperf3
Comment[it]=Disabilita servizio iperf3
Comment[de]=Deaktiviert den Iperf3-Dienst
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "/usr/share/kaisen-services-management/iperf3-disable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SIperf3
X-Kaisen-Package=iperf3
