#!/usr/bin/env xdg-open

[Desktop Entry]
Name=pigz
Comment=Tool to gzip archives with multi-threads
Comment[fr]=Outil pour les archives gzip avec plusieurs threads
Comment[es]=Herramienta para archivos gzip con múltiples hilos
Comment[pt]=Ferramenta para arquivos gzip com vários threads
Comment[it]=Strumento per archivi gzip con più thread
Comment[de]=Tool für gzip-Archive mit mehreren Threads
Exec=kaisen-launcher --command "pigz"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=ZIP
X-Kaisen-Package=pigz
