#!/usr/bin/xdg-open

[Desktop Entry]
Name=tcpkill
Comment=Kill TCP connections on a LAN
Comment[fr]=Tuez les connexions TCP sur un LAN
Comment[es]=Elimina las conexiones TCP en una LAN
Comment[pt]=Elimine conexões TCP em uma LAN
Comment[it]=Elimina le connessioni TCP su una LAN
Comment[de]=Beenden Sie TCP-Verbindungen in einem LAN
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "tcpkill --help" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=TCPUDP
X-Kaisen-Package=dsniff
