#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ansible
Comment=Tool to use ansible
Comment[fr]=Outil pour utiliser ansible
Comment[es]=Herramienta Ansible
Comment[pt]=Ferramenta Ansible
Comment[it]=Strumento Ansible
Comment[de]=Ansible Tool
Exec=kaisen-launcher --command "ansible -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Ansible
X-Kaisen-Package=ansible
