#!/usr/bin/xdg-open

[Desktop Entry]
Name=gdisk
Comment=Interactive GUID partition table (GPT) manipulator
Comment[fr]=Interactive GUID partition table (GPT) manipulator
Comment[es]=Manipulador interactivo de tablas de partición GUID (GPT)
Comment[pt]=Manipulador interactivo de tabela de partição GUID (GPT)
Comment[it]=Manipolatore interattivo della tabella di partizione GUID (GPT)
Comment[de]=Interaktive GUID-Partitionstabelle (GPT) Manipulator
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "gdisk" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=PartitioningErasing
X-Kaisen-Package=gdisk
