#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ntfscp
Comment=Tool for NTFS partition
Comment[fr]=Outil pour partition NTFS
Comment[es]=Herramienta de partición NTFS
Comment[pt]=Ferramenta de partição NTFS
Comment[it]=Strumento di partizione NTFS
Comment[de]=NTFS-Partitionstool
Exec=kaisen-launcher --command "ntfscp" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NTFS
X-Kaisen-Package=ntfs-3g
