#!/usr/bin/env xdg-open

[Desktop Entry]
Name=mkfs.exfat
Comment=Tool to create exfat partition
Comment[fr]=Outil pour créer une partition exfat
Comment[es]=Herramienta para crear una partición exfat
Comment[pt]=Ferramenta para criar uma partição exfat
Comment[it]=Strumento per creare una partizione exfat
Comment[de]=Tool zum Erstellen einer Exfat-Partition
Exec=kaisen-launcher --command "mkfs.exfat" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=MKFS
X-Kaisen-Package=exfat-utils
