#!/usr/bin/env xdg-open

[Desktop Entry]
Name=lxc-ls
Name[fr]=lxc-ls
Comment=Tool for manage LXC container
Comment[fr]=Outil pour gérer un container LXC
Exec=terminator -e "zsh -c 'lxc-ls -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=LXC
X-Kaisen-Package=lxc
