#!/usr/bin/env xdg-open

[Desktop Entry]
Name=debugfs.reiser4
Comment=Tool to debug REISER4 damaged partition
Comment[fr]=Outil pour déboguer une partition REISER4 endommagée
Comment[es]=Herramienta para depurar una partición REISER4 dañada
Comment[pt]=Ferramenta para depurar uma partição REISER4 danificada
Comment[it]=Strumento per il debug di una partizione REISER4 danneggiata
Comment[de]=Tool zum Debuggen einer beschädigten REISER4-Partition
Exec=kaisen-launcher --command "debugfs.reiser4" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=REISER4
X-Kaisen-Package=reiser4progs
