#!/usr/bin/env xdg-open

[Desktop Entry]
Name=bettercap
Comment=Multipurpose Network sniffer/analyser/interceptor/logger
Comment[fr]=Sniffer/Analyser/Intercepteur/Logger Réseau
Comment[es]=Sniffer/Analyze/Interceptor/Network Logger
Comment[pt]=Farejador/Analisador/Interceptador/Registrador de Rede
Comment[it]=Sniffer/Analizza/Interceptor/Network Logger
Comment[de]=Sniffer/Analyze/Interceptor/Network Logger
Exec=kaisen-launcher --command "bettercap" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Scanner
X-Kaisen-Package=bettercap
