#!/usr/bin/env xdg-open

[Desktop Entry]
Name=fcrackzipinfo
Comment=Tool to retrieve zip password info
Comment[fr]=Outil pour récupérer les infos d'un zip protégé
Comment[es]=Herramienta para recuperar información de un zip protegido
Comment[pt]=Ferramenta para recuperar informações de um zip protegido
Comment[it]=Strumento per recuperare informazioni da una zip protetta
Comment[de]=Tool zum Abrufen von Informationen aus einem geschützten Reißverschluss
Exec=kaisen-launcher --command "fcrackzipinfo --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords
X-Kaisen-Package=fcrackzip
