#!/usr/bin/env xdg-open

[Desktop Entry]
Name=xfs_metadump
Comment=Copy XFS filesystem metadata to a file
Comment[fr]=Copier les métadonnées du système de fichiers XFS dans un fichier
Comment[es]=Copie los metadatos del sistema de archivos XFS en un archivo
Comment[pt]=Copiar metadados do sistema de arquivos XFS para um arquivo
Comment[it]=Copia i metadati del filesystem XFS in un file
Comment[de]=Kopieren Sie die Metadaten des XFS-Dateisystems in eine Datei
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "xfs_metadump" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=XFS
X-Kaisen-Package=xfsprogs
