#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Grsync
Comment=Synchronize files and folders (a GTK GUI to rsync)
Comment[fr]=Synchronise les fichiers et dossiers (une interface graphique GTK pour rsync)
Comment[es]=Sincronice archivos y carpetas (una GUI GTK para rsync)
Comment[pt]=Sincronizar arquivos e pastas (uma GUI GTK para rsync)
Comment[it]=Sincronizza file e cartelle (una GUI GTK per rsync)
Comment[de]=Dateien und Ordner synchronisieren (eine GTK-GUI für rsync)
Exec=/usr/bin/grsync -i %f
Icon=grsync.png
Terminal=false
Type=Application
MimeType=application/x-grsync-session;
Categories=Backup;
X-Kaisen-Package=grsync
