#!/usr/bin/env xdg-open

[Desktop Entry]
Name=docker-disable
Name[fr]=docker-désactivé
Name[es]=docker-discapacitado
Name[pt]=docker-desativado
Name[it]=docker-disabilitato
Name[de]=docker-behindert
Comment=Disable docker daemon
Comment[fr]=Désactiver service docker
Comment[es]=Deshabilitar servicio docker
Comment[pt]=Desativar serviço docker
Comment[it]=Disabilita servizio docker
Comment[de]=Deaktivieren Sie den Docker-Dienst
Exec=kaisen-launcher --command "/opt/services/docker-disable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SContainers
X-Kaisen-Package=docker.io
