#!/usr/bin/env xdg-open

[Desktop Entry]
Name=udp-receiver
Comment=Tool to receive udp packets
Comment[fr]=Outil pour recevoir des paquets udp
Comment[es]=Herramienta para recibir paquetes udp
Comment[pt]=Ferramenta para receber pacotes udp
Comment[it]=Strumento per ricevere pacchetti udp
Comment[de]=Tool zum Empfangen von UDP-Paketen
Exec=kaisen-launcher --command "udp-receiver"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=UDP
X-Kaisen-Package=udpcast
