#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ntfssecaudit
Comment=NTFS Security Data Auditing
Comment[fr]=Audit des données de sécurité NTFS
Comment[es]=Auditoría de datos de seguridad NTFS
Comment[pt]=Auditoria de dados de segurança NTFS
Comment[it]=Auditing dei dati di sicurezza NTFS
Comment[de]=NTFS-Sicherheitsdatenüberwachung
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "ntfssecaudit --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NTFS
X-Kaisen-Package=ntfs-3g
