#!/usr/bin/xdg-open

[Desktop Entry]
Name=aa-genprof
Comment=Profile generation utility for AppArmor
Comment[fr]=Utilitaire de génération de profils pour AppArmor
Comment[es]=Utilidad de generación de perfiles para AppArmor
Comment[pt]=Utilitário de geração de perfis para AppArmor
Comment[it]=Utilità di generazione di profili per AppArmor
Comment[de]=Dienstprogramm zur Profilerstellung für AppArmor
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "aa-genprof -h" --sudo
Icon=/usr/share/pixmaps/kaisen/apparmor.png
Terminal=false
Type=Application
StartupNotify=true
Categories=AppArmor
X-Kaisen-Package=apparmor-utils
