#!/usr/bin/xdg-open

[Desktop Entry]
Name=pdk
Comment=Puppet Development Kit
Comment[fr]=Kit de développement de Puppet
Comment[es]=Kit de desarollo de Puppet
Comment[pt]=Kit de desenvolvimento de Puppet
Comment[it]=Kit di sviluppo di Puppet
Comment[de]=Puppet-Entwicklungskit
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "pdk --help"
Icon=/usr/share/pixmaps/kaisen-menu/puppet.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Puppet
X-Kaisen-Package=pdk
