#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ansible-playbook
Name[fr]=ansible-playbook
Comment=Tool for using ansible
Comment[fr]=Outil pour utiliser ansible
Exec=terminator -e "zsh -c 'ansible-playbook -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Ansible
X-Kaisen-Package=ansible
