#!/usr/bin/xdg-open

[Desktop Entry]
Name=wget
Comment=Non-interactive network file downloader
Comment[fr]=Téléchargeur de fichiers réseau non interactif
Comment[es]=Descargador de archivos de red no interactivo
Comment[pt]=Baixador de arquivos de rede não interativo
Comment[it]=Strumento non interattivo per scaricare file dalla rete
Comment[de]=Nicht-interaktives Netzwerk-Download-Programm
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "wget --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Miscellaneous
X-Kaisen-Package=wget

