#!/usr/bin/xdg-open

[Desktop Entry]
Name=rdfind
Comment=Tool to search for duplicate files in a directory
Comment[fr]=Outil pour rechercher les fichiers dupliqués dans un répertoire
Comment[es]=Herramienta para encontrar archivos duplicados en un directorio
Comment[pt]=Ferramenta para encontrar arquivos duplicados em um diretório
Comment[it]=Strumento per trovare file duplicati in una directory
Comment[de]=Dienstprogramm zum Auffinden doppelter Dateien in einem Verzeichnis
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "rdfind -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DuplicatesAnalysis
X-Kaisen-Package=rdfind
