#!/usr/bin/xdg-open

[Desktop Entry]
Name=iostat
Comment=Report CPU stats and disks IO
Comment[fr]=Reporter les stats CPU et les E/S disques
Comment[es]=Informar de las estadísticas de la CPU y de la E/S del disco
Comment[pt]=Relatar estatísticas da CPU e I/O do disco
Comment[it]=Segnalare le statistiche della CPU e l'I/O del disco
Comment[de]=CPU-Statistiken und Festplatten-E/A auswerten
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "iostat"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Hardware
X-Kaisen-Package=sysstat
