#!/usr/bin/xdg-open

[Desktop Entry]
Name=brtfs-scrub-enable
Name[fr]=btrfs-scrub-activé
Name[es]=btrfs-scrub-habilitado
Name[pt]=btrfs-scrub-ativado
Name[it]=btrfs-scrub-abilitato
Name[de]=btrfs-scrub-aktivieren
Comment=Enable btrfs-scrub daemon
Comment[fr]=Activer service btrfs-scrub
Comment[es]=Activar servicio btrfs-scrub
Comment[pt]=Ativar serviço btrfs-scrub
Comment[it]=Attiva servizio btrfs-scrub
Comment[de]=Aktiviert den BTRFS-SCRUB-Dienst
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "/usr/share/kaisen-services-management/btrfs-scrub-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SFilesystems
X-Kaisen-Package=btrfs-progs
