#!/usr/bin/xdg-open

[Desktop Entry]
Name=plocate-enable
Name[fr]=plocate-activé
Name[es]=plocate-habilitado
Name[pt]=plocate-ativado
Name[it]=plocate-abilitato
Name[de]=plocate-aktivieren
Comment=Enable plocate daemon
Comment[fr]=Activer service plocate
Comment[es]=Activar servicio plocate
Comment[pt]=Ativar serviço plocate
Comment[it]=Attiva servizio plocate
Comment[de]=Aktiviert den plocate-Dienst
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "/usr/share/kaisen-services-management/plocate-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Splocate
X-Kaisen-Package=plocate
