#!/usr/bin/xdg-open

[Desktop Entry]
Name=keepassxc-cli
Comment=Command line interface for KeePassXC
Comment[fr]=Interface en ligne de commande pour KeePassXC
Comment[es]=Interfaz de línea de comandos para KeePassXC
Comment[pt]=Interface de linha de comando para KeePassXC
Comment[it]=Interfaccia a riga di comando per KeePassXC
Comment[de]=Befehlszeilenschnittstelle für KeePassXC
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "keepassxc-cli --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Miscellaneous
X-Kaisen-Package=keepassxc
