#!/usr/bin/xdg-open

[Desktop Entry]
Name=vmfs6-lvm
Comment=VMFS6 logical volume manager tool
Comment[fr]=Outil de gestion de volume logique VMFS6
Comment[es]=Herramienta de administración de volumen lógico VMFS6
Comment[pt]=Ferramenta de gerenciamento de volume lógico VMFS6
Comment[it]=Strumento di gestione del volume logico VMFS6
Comment[de]=VMFS6-Tool für LVM
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "vmfs6-lvm -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=VMFS
X-Kaisen-Package=vmfs6-tools
