#!/usr/bin/env xdg-open

[Desktop Entry]
Name=netsed
Comment=Modification editor on network packets
Comment[fr]=Editeur de modifications de paquets réseaux
Comment[es]=Editor de modificación de paquetes de red
Comment[pt]=Editor de modificação de pacotes de rede
Comment[it]=Editor di modifica dei pacchetti di rete
Comment[de]=Editor für Netzwerkpaketänderungen
Exec=kaisen-launcher --command "netsed -h"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=PCAP
X-Kaisen-Package=netsed
