#!/usr/bin/xdg-open

[Desktop Entry]
Name=bruteforce-luks
Comment=Tool to recover password on luks disk
Comment[fr]=Outil pour récupérer un mot de passe d'un disque luks
Comment[es]=Herramienta para recuperar contraseña del disco luks
Comment[pt]=Ferramenta para recuperar senha do disco luks
Comment[it]=Strumento per recuperare la password dal disco luks
Comment[de]=Tool zum Wiederherstellen des Passworts von der luks-Festplatte
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "bruteforce-luks"
Icon=/usr/share/pixmaps/kaisen-menu/luks.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords
X-Kaisen-Package=bruteforce-luks
