#!/usr/bin/env xdg-open

[Desktop Entry]
Name=lxc-config
Name[fr]=lxc-config
Comment=Tool for manage LXC container
Comment[fr]=Outil pour gérer un container LXC
Exec=terminator -e "zsh -c 'lxc-config -l;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=LXC
X-Kaisen-Package=lxc
