#!/usr/bin/env xdg-open

[Desktop Entry]
Name=fvdewipekey
Comment=Tool for filevault disk wipe key
Comment[fr]=Outil pour effacer les clés sur les disques filevault
Comment[es]=Herramienta para borrar claves en discos de archivos
Comment[pt]=Ferramenta para apagar chaves em discos de arquivos
Comment[it]=Strumento per cancellare le chiavi sui dischi filevault
Comment[de]=Tool zum Löschen von Schlüsseln auf Dateitresor-Datenträgern
Exec=kaisen-launcher --command "fvdewiepkey" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=FileVault
X-Kaisen-Package=libfvde-utils
