#!/usr/bin/env xdg-open

[Desktop Entry]
Name=testdisk
Comment=Tool for advanced disk analysis
Comment[fr]=Outil pour une analyse avancée d'un disque
Comment[es]=Herramienta para análisis de disco avanzado
Comment[pt]=Ferramenta para análise avançada de disco
Comment[it]=Strumento per l'analisi avanzata del disco
Comment[de]=Tool für erweiterte Festplattenanalyse
Exec=kaisen-launcher --command "testdisk" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DisksAnalysis
X-Kaisen-Package=testdisk
