#!/usr/bin/env xdg-open

[Desktop Entry]
Name=sfill
Comment=Tool to securely delete free space in partition/directory
Comment[fr]=Outil pour effacer l'espace libre sur une partition ou un répertoire
Comment[es]=Herramienta para borrar espacio libre en una partición o directorio
Comment[pt]=Ferramenta para apagar espaço livre em uma partição ou diretório
Comment[it]=Strumento per cancellare lo spazio libero su una partizione o directory
Comment[de]=Tool zum Löschen von freiem Speicherplatz auf einer Partition oder einem Verzeichnis
Exec=kaisen-launcher --command "sfill -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Partitioning
X-Kaisen-Package=secure-delete
