#!/usr/bin/env xdg-open

[Desktop Entry]
Name=vbackup
Comment=A modular backup program
Comment[fr]=Un programme de sauvegarde modulaire
Comment[es]=Un programa de respaldo modular
Comment[pt]=Um programa de backup modular
Comment[it]=Un programma di backup modulare
Comment[de]=Ein modulares Sicherungsprogramm
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "vbackup --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Backup
X-Kaisen-Package=vbackup
