#!/usr/bin/env xdg-open

[Desktop Entry]
Name=zulucrypt
Comment=Tool to encrypt disk
Comment[fr]=Outil pour chiffrer des disques
Comment[es]=Herramienta para encriptar discos
Comment[pt]=Ferramenta para criptografar discos
Comment[it]=Strumento per la crittografia dei dischi
Comment[de]=Tool zum Verschlüsseln von Discs
Icon=utilities-terminal
Exec=kaisen-launcher --command "zuluCrypt-cli" --sudo
Terminal=false
Type=Application
StartupNotify=true
Categories=Dataprotection
X-Kaisen-Package=zulucrypt-cli
