#!/usr/bin/env xdg-open

[Desktop Entry]
Name=vmware-guest-enable
Name[fr]=vmware-guest-activé
Name[es]=vmware-guest-habilitado
Name[pt]=vmware-guest-ativado
Name[it]=vmware-guest-abilitato
Name[de]=vmware-guest-aktiviert
Comment=Enable vmware guest service
Comment[fr]=Activer le service invité de vmware
Comment[es]=Active el servicio de invitado vmware
Comment[pt]=Ativar o serviço de convidado vmware
Comment[it]=Attiva il servizio guest vmware
Comment[de]=Aktivieren Sie den VMware-Gastservice
Exec=kaisen-launcher --command "/opt/services/vmware-enable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SVirtualization
X-Kaisen-Package=open-vm-tools open-vm-tools-desktop
