#!/usr/bin/xdg-open

[Desktop Entry]
Name=argo-cd
Comment=Control an Argo CD server
Comment[fr]=Contrôler un serveur Argo CD
Comment[es]=Controlar un servidor CD Argo
Comment[pt]=Controlar um servidor CD Argo
Comment[it]=Controllare un server CD Argo
Comment[de]=Steuert ein Argo-CD-Server
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "argocd --help"
Icon=/usr/share/pixmaps/argocd.png
Terminal=false
Type=Application
StartupNotify=true
Categories=DevOps
X-Kaisen-Package=argo-cd
