#!/usr/bin/xdg-open

[Desktop Entry]
Name=qt-fsarchiver
Comment=Program to back up and restore partitions, directories and the MBR/GPT
Comment[fr]=Programme pour sauvegarder et restaurer les partitions, les répertoires et le MBR/GPT
Comment[es]=Programa para respaldar y restaurar particiones, directorios y el MBR/GPT
Comment[pt]=Programa para fazer o backup e restaurar partições, directórios e o MBR/GPT
Comment[it]=Programma per il backup e il ripristino di partizioni, directory e MBR/GPT
Comment[de]=Programm zum Sichern und Wiederherstellen von Partitionen, Verzeichnissen und dem MBR/GPT
Exec=pkexec qt-fsarchiver
Icon=/usr/share/pixmaps/qt-fsarchiver.png
Terminal=false
Type=Application
Categories=Cloning
StartupNotify=true
X-Kaisen-Package=qt-fsarchiver
