#!/usr/bin/env xdg-open

[Desktop Entry]
Name=img2pdf
Comment=Tool to convert a picture into a pdf
Comment[fr]=Outil pour convertir une image en PDF
Comment[es]=Herramienta para convertir una imagen a PDF
Comment[pt]=Ferramenta para converter uma imagem em PDF
Comment[it]=Strumento per convertire un'immagine in PDF
Comment[de]=Tool zum Konvertieren eines Bildes in PDF
Exec=kaisen-launcher --command "img2pdf --help" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Miscellaneous
X-Kaisen-Package=img2pdf
