#!/usr/bin/xdg-open

[Desktop Entry]
Name=glusterfs
Comment=Tool to mount gluster partition
Comment[fr]=Outil pour monter une partition gluster
Comment[es]=Herramienta para montar una partición Gluster
Comment[pt]=Ferramenta para montar uma partição gluster
Comment[it]=Strumento per montare una partizione gluster
Comment[de]=Werkzeug zum Montieren einer Gluster-Trennwand
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "glusterfs --help" --sudo
Icon=/usr/share/pixmaps/kaisen-menu/gluster.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GlusterFS
X-Kaisen-Package=glusterfs-client
