#!/usr/bin/xdg-open

[Desktop Entry]
Name=zpool
Comment=Configure ZFS storage pools
Comment[fr]=Configurer les pools de stockage ZFS
Comment[es]=Configurar grupos de almacenamiento ZFS
Comment[pt]=Configurar pools de armazenamento ZFS
Comment[it]=Configurare i pool di archiviazione ZFS
Comment[de]=Konfigurieren von ZFS-Speicherpools
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "zpool" --sudo
Icon=/usr/share/pixmaps/kaisen-menu/openzfs.png
Terminal=false
Type=Application
StartupNotify=true
Categories=ZFS
X-Kaisen-Package=zfsutils-linux
