#!/usr/bin/env xdg-open

[Desktop Entry]
Name=btrfs-image
Comment=Tool to manage a BTRFS image
Comment[fr]=Outil pour gérer une image BTRFS
Comment[es]=Herramienta para gestionar una imagen BTRFS
Comment[pt]=Ferramenta para gerenciar uma imagem BTRFS
Comment[it]=Strumento per gestire un'immagine BTRFS
Comment[de]=Tool zum Verwalten eines BTRFS-Images
Exec=kaisen-launcher --command "btrfs-image"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=BTRFS
X-Kaisen-Package=btrfs-progs
