#!/usr/bin/xdg-open

[Desktop Entry]
Name=WxFixBoot
Comment=Utility to assist with fixing the bootloader on a computer quickly
Comment[fr]=Utilitaire permettant de réparer rapidement le chargeur de démarrage d'un ordinateur
Comment[es]=Utilidad para ayudar a reparar el cargador de arranque de un ordenador rápidamente
Comment[pt]=Utilitário para ajudar a fixar rapidamente o carregador do bootloader num computador
Comment[it]=Utilità per aiutare a fissare rapidamente il bootloader di un computer
Comment[de]=Dienstprogramm zur schnellen Reparatur des Bootloaders auf dem Computer
Exec=pkexec /usr/sbin/wxfixboot
Icon=wxfixboot
Terminal=false
Type=Application
StartupNotify=true
Categories=DisksAnalysis
X-Kaisen-Package=wxfixboot
