#!/usr/bin/env xdg-open

[Desktop Entry]
Name=curl
Comment=Tool to transfer a URL
Comment[fr]=Outil pour transférer une URL
Comment[es]=Herramienta para transferir una URL
Comment[pt]=Ferramenta para transferir um URL
Comment[it]=Strumento per trasferire un URL
Comment[de]=Tool zum Übertragen einer URL
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "curl --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SystemAdministration
X-Kaisen-Package=curl
