#!/usr/bin/env xdg-open

[Desktop Entry]
Name=gpart
Comment=Tool to analyse lost partition disks
Comment[fr]=Outil pour analyser les partitions disques perdues
Comment[es]=Herramienta para analizar particiones de disco perdidas
Comment[pt]=Ferramenta para analisar partições de disco perdidas
Comment[it]=Strumento per analizzare partizioni del disco perse
Comment[de]=Tool zum Analysieren verlorener Festplattenpartitionen
Exec=kaisen-launcher --command "gpart" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DisksAnalysis
X-Kaisen-Package=gpart
