#!/usr/bin/xdg-open

[Desktop Entry]
Name=smartmontools-disable
Name[fr]=smartmontools-désactivé
Name[es]=smartmontools-deshabilitado
Name[pt]=smartmontools-desativado
Name[it]=smartmontools-disabilitato
Name[de]=smartmontools-deaktiviert
Comment=Enable smartmontools daemon
Comment[fr]=Désactivé service smartmontools
Comment[es]=Deshabilitado servicio smartmontools
Comment[pt]=Desativado serviço smartmontools
Comment[it]=Disabilitato servizio smartmontools
Comment[de]=Deaktiviert den Smartmontools-Dienst
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "/usr/share/kaisen-services-management/smartmontools-disable" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SSmartmontools
X-Kaisen-Package=smartmontools
