#!/usr/bin/xdg-open

[Desktop Entry]
Name=xfsrestore
Comment=XFS filesystem incremental restore utility
Comment[fr]=Utilitaire de restauration incrémentielle du système de fichiers XFS
Comment[es]=Utilidad de restauración incremental del sistema de archivos XFS
Comment[pt]=Utilitário de restauração incremental do sistema de arquivos XFS
Comment[it]=Utilità di ripristino incrementale del file system XFS
Comment[de]=Inkrementelles Wiederherstellungsdienstprogramm für das XFS-Dateisystem
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "xfsrestore -h" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=XFS;PartitioningErasing
X-Kaisen-Package=xfsprogs
