#!/usr/bin/env xdg-open

[Desktop Entry]
Name=2ping
Comment=Tool to analyse lost ICMP packets
Comment[fr]=Outil pour analyser les paquets ICMP perdus
Comment[es]=Herramienta para analizar paquetes ICMP perdidos
Comment[pt]=Ferramenta para analisar pacotes ICMP perdidos
Comment[it]=Strumento per analizzare i pacchetti ICMP persi
Comment[de]=Tool zur Analyse verlorener ICMP-Pakete
Exec=kaisen-launcher --command "2ping"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NetworkSecurity
X-Kaisen-Package=2ping
