#!/usr/bin/xdg-open

[Desktop Entry]
Name=dump.exfat
Comment=Show on-disk information of exfat filesystem
Comment[fr]=Afficher les informations sur le disque du système de fichiers exfat
Comment[es]=Mostrar información en el disco del sistema de archivos exfat
Comment[pt]=Mostrar informações em disco do sistema de ficheiros exfat
Comment[it]=Mostra le informazioni sul disco del filesystem exfat
Comment[de]=Anzeigen von Informationen auf der Festplatte des exfat-Dateisystems
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "dump.exfat" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=EXFAT
X-Kaisen-Package=exfatprogs
