#!/usr/bin/xdg-open

[Desktop Entry]
Name=ecryptfs-mount-private
Comment=Interactive ecryptfs private mount wrapper script
Comment[fr]=Script de wrapper de montage privé ecryptfs interactif
Comment[es]=Script de contenedor de montaje privado interactivo de ecryptfs
Comment[pt]=Script de wrapper de montagem privada ecryptfs interativo
Comment[it]=Script wrapper di montaggio privato ecryptfs interattivo
Comment[de]=Interaktives ecryptfs Private Mount Wrapper-Skript
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "man ecryptfs-mount-private"
Icon=/usr/share/pixmaps/kaisen-menu/ecryptfs.png
Terminal=false
Type=Application
StartupNotify=true
Categories=ECRYPTFS
X-Kaisen-Package=ecryptfs-utils
