#!/usr/bin/xdg-open

[Desktop Entry]
Name=fsck.xfs
Comment=Tool to check the integrity of a XFS partition
Comment[fr]=Outil pour vérifier l'intégrité d'une partition XFS
Comment[es]=Herramienta para comprobar la integridad de una partición XFS
Comment[pt]=Ferramenta para verificar a integridade de uma partição XFS
Comment[it]=Strumento per verificare l'integrità di una partizione XFS
Comment[de]=Tool zur Überprüfung der Integrität einer XFS-Partition
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "fsck.xfs" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=FSCK
X-Kaisen-Package=xfsprogs
