#!/usr/bin/xdg-open

[Desktop Entry]
Name=stressapptest
Comment=Stress test application for simulating high load situations
Comment[fr]=Application de test de stress pour simuler des situations de charge élevée
Comment[es]=Aplicación de prueba de esfuerzo para simular situaciones de alta carga
Comment[pt]=Aplicação de teste de esforço para simulação de situações de carga elevada
Comment[it]=Applicazione di stress test per simulare situazioni di carico elevato
Comment[de]=Stresstest-Anwendung zur Simulation von Hochlastsituationen
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "stressapptest --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Hardware
X-Kaisen-Package=stressapptest
