#!/usr/bin/xdg-open

[Desktop Entry]
Name=terragrunt
Comment=Wrapper for Terraform
Comment[fr]=Wrapper pour Terraform
Comment[es]=Wrapper para Terraform
Comment[pt]=Wrapper para Terraform
Comment[it]=Wrapper per Terraform
Comment[de]=Wrapper für Terraform
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "terragrunt"
Icon=/usr/share/pixmaps/terragrunt.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Terraform
X-Kaisen-Package=terragrunt
