#!/usr/bin/xdg-open

[Desktop Entry]
Name=terraform-docs
Comment=Generate documentation from Terraform modules in various output formats
Comment[fr]=Générer de la documentation depuis des modules Terraform dans divers formats de sortie
Comment[es]=Generar la documentación de los módulos de Terraform en varios formatos de salida
Comment[pt]=Gerar documentação dos módulos Terraform em vários formatos de saída
Comment[it]=Generare documentazione dai moduli Terraform in vari formati di output
Comment[de]=Erzeugen von Dokumentation aus Terraform-Modulen in verschiedenen Ausgabeformaten
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "terraform-docs --help"
Icon=/usr/share/pixmaps/terraform-docs.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Terraform
X-Kaisen-Package=terraform-docs
