#!/usr/bin/xdg-open

[Desktop Entry]
Name=sar
Comment=Collect, report, or save system activity information
Comment[fr]=Collecter, reporter ou sauvegarder les informations sur l'activité système
Comment[es]=Recoger, informar o guardar información sobre la actividad del sistema
Comment[pt]=Recolher, relatar ou guardar informação sobre a actividade do sistema
Comment[it]=Raccogliere, segnalare o salvare informazioni sull'attività del sistema
Comment[de]=Sammeln, Berichten oder Speichern von Informationen über Systemaktivitäten
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "sar --help"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Hardware
X-Kaisen-Package=sysstat
