#!/usr/bin/xdg-open

[Desktop Entry]
Name=borgfs
Comment=Mount archive or an entire repository as a FUSE filesystem
Comment[fr]=Monter une archive ou un référentiel entier comme système de fichiers FUSE
Comment[es]=Montar un archivo o un repositorio completo como un sistema de archivos FUSE
Comment[pt]=Montar arquivo ou um repositório inteiro como um sistema de ficheiros FUSE
Comment[it]=Montare un archivio o un intero repository come filesystem FUSE
Comment[de]=Einhängen eines Archivs oder eines gesamten Repositorys als FUSE-Dateisystem
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "borgfs --help"
Icon=/usr/share/pixmaps/kaisen-menu/borg.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Borg
X-Kaisen-Package=borgbackup
