#!/usr/bin/xdg-open

[Desktop Entry]
Name=apfsutil
Comment=Tool to display APFS containers informations
Comment[fr]=Outil pour afficher les informations sur les conteneurs APFS
Comment[es]=Herramienta para mostrar información sobre contenedores APFS
Comment[pt]=Ferramenta para exibir informações sobre recipientes APFS
Comment[it]=Strumento per visualizzare le informazioni sui contenitori APFS
Comment[de]=Werkzeug zur Anzeige von APFS-Container-Informationen
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "apfsutil"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=APFS
X-Kaisen-Package=apfs-fuse
