#!/usr/bin/xdg-open

[Desktop Entry]
Name=rdesktop
Comment=Remote Desktop Protocol client
Comment[fr]=Client de protocole de bureau à distance
Comment[es]=Cliente de protocolo de escritorio remoto
Comment[pt]=Cliente de protocolo de área de trabalho remota
Comment[it]=Client Remote Desktop Protocol
Comment[de]=Remotedesktopprotokoll-Client
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "rdesktop"
Icon=/usr/share/pixmaps/kaisen-menu/rdesktop.png
Terminal=false
Type=Application
StartupNotify=true
Categories=RemoteAdministration
X-Kaisen-Package=rdesktop
