#!/usr/bin/xdg-open

[Desktop Entry]
Name=fsck.reiserfs
Comment=Tool to check the integrity of a REISERFS partition
Comment[fr]=Outil pour vérifier l'intégrité d'une partition REISERFS
Comment[es]=Herramienta para comprobar la integridad de una partición REISERFS
Comment[pt]=Ferramenta para verificar a integridade de uma partição REISERFS
Comment[it]=Strumento per verificare l'integrità di una partizione REISERFS
Comment[de]=Tool zur Überprüfung der Integrität einer REISERFS-Partition
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "fsck.reiserfs" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=FSCK
X-Kaisen-Package=reiserfsprogs
