#!/usr/bin/xdg-open

[Desktop Entry]
Name=mkfs.btrfs
Comment=Tool to create a BTRFS partition
Comment[fr]=Outil pour créer une partition BTRFS
Comment[es]=Herramienta para crear una partición BTRFS
Comment[pt]=Ferramenta para criar uma partição BTRFS
Comment[it]=Strumento per creare una partizione BTRFS
Comment[de]=Tool zum Erstellen einer BTRFS-Partition
Exec=/usr/share/kaisen-menu/scripts/kaisen-launcher --command "mkfs.btrfs --help" --sudo
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=MKFS
X-Kaisen-Package=btrfs-progs
